/* ------------- General ---------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  font-family: eb-garamod, serif;
  color: var(--secondary-color--dark);
  font-weight: 400;
  font-style: normal;
  background-repeat: no-repeat;
  margin: 1rem;
  position: relative;
}
.document--container {
  margin: 0 auto;
  max-width: 210rem;
  overflow: hidden;
  background-color: var(--tertiary-color);
  border: 2px solid var(--secondary-color--dark);
  @media screen and (max-width: 22.5rem) {
    padding-top: 0;
  }
}
.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}
.section {
  transition: transform 1s;
  opacity: 1;
}
// Cookies

#cookies-eu-banner {
  z-index: 8000000;
  color: var(--secondary-color--dark);
  background-color: var(--blue-background);
  opacity: 0.9;
  font-family: inherit;
  width: 20em;
  position: fixed;
  left: -5px;
  bottom: 2em;
  text-align: left;
  margin-left: 3rem;
  border: 2px solid var(--yellow-border);

  &[style*="display: block"] {
    animation: 1s ease-in-out 1s forwards showCookieBanner;
  }
  &.before-remove {
    animation: 1s ease-in-out forwards hideCookieBanner;
  }
}

.cookies-container {
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

@keyframes showCookieBanner {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hideCookieBanner {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.cookie--link {
  font-size: 1rem;
  color: var(--secondary-color--dark);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn-cookies {
  color: var(--secondary-color--dark);
  cursor: pointer;
  padding: 0.25em 0.5em 0.2em;
  transition: 300ms all;
  margin-top: 1rem;
  font-size: 1rem;
}

#cookies-eu-reject {
  background: none;
  border: 1px solid var(--secondary-color--dark);
  margin-top: 0.5rem;
  &:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

#cookies-eu-accept {
  background: none;
  border: 1px solid var(--secondary-color--dark);

  &:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
