/* ------------- General ---------------------- */

$IphoneMin: 192px;
$Iphone5: 320px;
$SamsungS8: 360px;
$IPhoneSE: 375px;
$Iphone8: 414px;
$IPhone12: 428px;

$AmazonKindle8: 496px;
$SamsungTab2: 600px;
$MicrosoftSurface: 720px;
$SamsungTab3: 800px;
$IPadAir: 820px;
$tab-port: 960px;
$IPad12: 1024px;

$tab-land-small: 1200px;
$MacBook13: 1280px;
$MacBookAir: 1440px;
$tab-land-medium: 1600px;
$MacBookPro: 1680px;

$pc-small: 1760px;
$pc-medium: 1920px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media screen and (max-width: $MacBook13) {
    font-size: 55% !important;
  }

  @media screen and (max-width: $tab-port) {
    font-size: 50% !important;
  }

  @media screen and (max-width: $SamsungTab3) {
    font-size: 45% !important;
  }
  @media screen and (max-width: $AmazonKindle8) {
    font-size: 30% !important;
  }
  @media screen and (max-width: $Iphone8) {
    font-size: 25% !important;
  }
  @media screen and (max-width: $Iphone5) {
    font-size: 20% !important;
  }
  @media screen and (max-width: $IphoneMin) {
    font-size: 15% !important;
  }
  @media screen and (max-width: 105px) {
    font-size: 10% !important;
  }
}

body {
  max-width: 100%;
  font-family: eb-garamod, serif;
  color: var(--secondary-color--dark);
  font-weight: 400;
  font-style: normal;
  background-repeat: no-repeat;
  position: relative;
}

// Cookies

#cookies-eu-banner {
  z-index: 8000000;
  color: var(--secondary-color--dark);
  background-color: var(--blue-background);
  opacity: 0.9;
  font-family: inherit;
  width: 20em;
  position: fixed;
  left: -5px;
  bottom: 2em;
  text-align: left;
  margin-left: 3rem;
  border: 2px solid var(--yellow-border);

  &[style*="display: block"] {
    animation: 1s ease-in-out 1s forwards showCookieBanner;
  }
  &.before-remove {
    animation: 1s ease-in-out forwards hideCookieBanner;
  }
}

.cookies-container {
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

@keyframes showCookieBanner {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hideCookieBanner {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

.cookie--link {
  font-size: 1rem;
  color: var(--secondary-color--dark);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn-cookies {
  color: var(--secondary-color--dark);
  cursor: pointer;
  padding: 0.25em 0.5em 0.2em;
  transition: 300ms all;
  margin-top: 1rem;
  font-size: 1rem;
}

#cookies-eu-reject {
  background: none;
  border: 1px solid var(--secondary-color--dark);
  margin-top: 0.5rem;
  &:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}

#cookies-eu-accept {
  background: none;
  border: 1px solid var(--secondary-color--dark);

  &:hover {
    transform: translateY(-2px);
    background-image: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
