/* ------------- General ---------------------- */

$IphoneMin: 196px;
$Iphone5: 320px;
$SamsungS8: 360px;
$IPhoneSE: 375px;
$Iphone8: 414px;
$IPhone12: 428px;

$AmazonKindle8: 496px;
$SamsungTab2: 600px;
$MicrosoftSurface: 720px;
$SamsungTab3: 800px;
$IPadAir: 820px;
$tab-port: 960px;
$IPad12: 1024px;

$tab-land-small: 1200px;
$MacBook13: 1280px;
$MacBookAir: 1440px;
$tab-land-medium: 1600px;
$MacBookPro: 1680px;

$pc-small: 1760px;
$pc-medium: 1920px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin-top: 0 !important;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media screen and (max-width: $MacBook13) {
    font-size: 55% !important;
  }

  @media screen and (max-width: $tab-port) {
    font-size: 50% !important;
  }

  @media screen and (max-width: $SamsungTab3) {
    font-size: 45% !important;
  }
  @media screen and (max-width: $AmazonKindle8) {
    font-size: 30% !important;
  }
  @media screen and (max-width: $Iphone8) {
    font-size: 25% !important;
  }
  @media screen and (max-width: $Iphone5) {
    font-size: 20% !important;
  }
  @media screen and (max-width: $IphoneMin) {
    font-size: 15% !important;
  }
  @media screen and (max-width: 135px) {
    font-size: 10% !important;
  }
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: "Lato", san-serif;
  color: var(--secondary-color--dark);
  font-weight: 400;
  font-style: normal;
  background-repeat: no-repeat;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
