/* ------------- Colors ---------------------- */
:root {
  --color1: #5ff2f0;
  --color2: #a65ff2;
  --color3: #62b8ff;
  --color4: #f2cb5f;
  --color5: #f25fd0;
  --color6: #5ff281;
  --color7: #abf25f;
  --color8: #f2ff35;

  --primary-color: rgb(242, 95, 97);
  --secondary-color: #b6602f;
  --secondary-color--light: #62b8ff;
  --secondary-color--night: #81b4de;
  --secondary-color--dark: #1b1007;
  --tertiary-color: #fcfaf7;
  --tertiary-color--dark: rgb(236, 229, 219);
 --white: #fff;
  /* ------------- Colors Day/Night Switcher ---------------------- */
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-darker: #d0d0d3;
  --gray-dots: #e8e8ea;
 
}
