.section {
  display: flex;
  padding: 5rem;
  transition: all 0.5s;
  opacity: 1;
  @include respond(SamsungGalaxyTab2) {
    padding: 1rem;
  }
}
.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}
.document--container {
  margin-top: 0 !important;
  margin: 0 auto;
  max-width: 210rem;
  overflow: hidden;
  background-color: var(--tertiary-color);
  border: 2px solid var(--secondary-color--dark);
}
