//Fonts
@font-face {
  font-display: swap;
  font-family: kimperly-kg;
  src: url(../source/fonts:icons/kimberly-geswein_kg-onlyhope/KGOnlyHope.ttf);
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-family: chubby;
  src: url(../source/fonts:icons/chubby-dotty/ChubbyDotty.ttf);
}
//Font Sizes
$small: 1rem;
$regular: 1.8rem;
$medium: 2.2rem;
$big: 3.2rem;
$megabig: 4.8rem;
$megabigxxl: 5.6rem;

//text-position

.text-center {
  text-align: center !important;
}

//margins
$margin-bottom-big: 50rem;
$margin-top-big: 15rem;

//Header

.header--h1 {
  font-family: kimperly-kg, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  font-size: 10rem;
  line-height: 1;
  @include respond(tab-land-small) {
    font-size: 7rem;
  }
  @include respond(IPadAir) {
    font-size: 5rem;
  }
  @include respond(SamsungGalaxyTab2) {
    letter-spacing: 2.5rem;
  }
  @include respond(AmazonKindle7) {
    font-size: 4rem;
    letter-spacing: 2rem;
  }

  @include respond(IPhone5) {
    font-size: 3rem;
  }
}
.kimberli-font {
  font-family: kimperly-kg, sans-serif !important;
}
.header--h2__big {
  font-family: kimperly-kg, sans-serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  margin-bottom: 5rem;
  line-height: 1.5;
  @include respond(tab-land-small) {
    font-size: 2.6rem;
  }
  @include respond(IPadAir) {
    letter-spacing: 1rem;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }
  @include respond(SamsungGalaxyTab2) {
    letter-spacing: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  @include respond(AmazonKindle7) {
    font-size: 1.6rem;
    letter-spacing: 0.8rem;
  }
  @include respond(SamsungS8) {
    font-size: 1.6rem;
    letter-spacing: 0.7rem;
  }

  @include respond(IPhone5) {
    font-size: 1.4rem;
  }
}

.header--h2 {
  font-family: serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.header--h3 {
  font-weight: 400;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 3rem;
}
.header--h5 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;

  &--small {
    letter-spacing: 0.6rem;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
.paragraph-regular {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 3rem;

  &__copy {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-left: 1rem;
    margin-right: 1rem;
    letter-spacing: 0.4rem;
  }

  &__small {
    font-size: 1.6rem;
  }
}

/* ------------- Color Helpers ---------------------- */

.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--primary-color);
}

.highligted-bunt--inverse {
  background-image: linear-gradient(
    110deg,
    hsl(179, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(224, 85%, 66%)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.highligted-bunt {
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );

  -webkit-background-clip: text;
  color: transparent;
}
.highligted {
  background-image: linear-gradient(to left, #3f9cc4, #00b0fb);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
