@import "../../../styles.scss";

hr {
  height: 1px;
  background: rgba(255, 255, 255, 0.342);
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $blue;
  margin-top: 5rem;

  & h3 {
    @include font-h3;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
  }
  & h2 {
    @include font-h2;
    text-align: center;
  }
}
