<span></span>
<ul>
  <li>
    <a
      href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.kiwo-uerkental.ch&quote=Kinderwoche%20Uerkental%20-%20das%20gr%C3%B6sste%20Abenteuer%20des%20Fr%C3%BChlings"
      title="Share on Facebook"
      target="_blank"
    >
      <fa-icon [icon]="faFacebook"></fa-icon>
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.kiwo-uerkental.ch&text=Kinderwoche%20Uerkental%20-%20das%20gr%C3%B6sste%20Abenteuer%20des%20Fr%C3%BChlings:%20http%3A%2F%2Fwww.kiwo-uerkental.ch"
      target="_blank"
      rel="noopener noreferrer"
      title="Tweet"
    >
      <fa-icon [icon]="faTwitter"></fa-icon>
    </a>
  </li>

  <li>
    <a
      href="mailto:?subject=Kinderwoche%20Uerkental%20-%20das%20gr%C3%B6sste%20Abenteuer%20des%20Fr%C3%BChlings&body=Kinder%20ab%205%20Jahren%20werden%20eine%20spannende%2C%20unvergessliche%20und%20actionsgeladene%20Woche%20mit%20ihren%20Freunden%20erleben.:%20http%3A%2F%2Fwww.kiwo-uerkental.ch"
      target="_blank"
      title="Send email"
    >
      <fa-icon [icon]="faAt"></fa-icon>
    </a>
  </li>
</ul>
