html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  margin-top: 0 !important;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 55% !important;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50% !important;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 45% !important;
  }
}

@media screen and (max-width: 496px) {
  html {
    font-size: 30% !important;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 25% !important;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 20% !important;
  }
}

@media screen and (max-width: 196px) {
  html {
    font-size: 15% !important;
  }
}

@media screen and (max-width: 135px) {
  html {
    font-size: 10% !important;
  }
}

body {
  max-width: 100%;
  color: var(--secondary-color--dark);
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-repeat: no-repeat;
  font-family: Lato, san-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --color1: #5ff2f0;
  --color2: #a65ff2;
  --color3: #62b8ff;
  --color4: #f2cb5f;
  --color5: #f25fd0;
  --color6: #5ff281;
  --color7: #abf25f;
  --color8: #f2ff35;
  --primary-color: #f25f61;
  --secondary-color: #b6602f;
  --secondary-color--light: #62b8ff;
  --secondary-color--night: #81b4de;
  --secondary-color--dark: #1b1007;
  --tertiary-color: #fcfaf7;
  --tertiary-color--dark: #ece5db;
  --white: #fff;
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.color5 {
  color: var(--color5);
}

.color6 {
  color: var(--primary-color);
}

.highligted-bunt--inverse {
  background-image: linear-gradient(110deg, #5ff2f0, #5ff281, #abf25f, #f2cb5f, #f25f61, #f25fd0, #a65ff2, #5f86f2);
  -webkit-background-clip: text;
  color: #0000;
}

.highligted-bunt {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #ceac50, #93d053, #4bc367, #4fc4c2);
  -webkit-background-clip: text;
  color: #0000;
}

.highligted {
  background-image: linear-gradient(to left, #3f9cc4, #00b0fb);
  -webkit-background-clip: text;
  color: #0000;
  transition: all .2s;
}

.section {
  width: 100%;
  opacity: 1;
  padding: 5rem;
  transition: all .2s;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .section {
    padding: 1rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}

.document--container {
  max-width: 210rem;
  background-color: var(--tertiary-color);
  border: 1px solid #615c5c65;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 8px #63636333;
  margin-top: 0 !important;
}

.document--container__impressum {
  max-width: 210rem;
  background-color: var(--tertiary-color);
  border: 1px solid #615c5c65;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 8px #63636333;
}

@font-face {
  font-display: swap;
  font-family: kimperly-kg;
  src: url("KGOnlyHope.fd6dcfb9.ttf");
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: chubby;
  src: url("ChubbyDotty.c736e8a0.ttf");
}

.text-center {
  text-align: center !important;
}

.header--h1 {
  text-transform: uppercase;
  letter-spacing: 3rem;
  font-family: kimperly-kg, sans-serif;
  font-size: 10rem;
  line-height: 1;
}

@media only screen and (max-width: 75em) {
  .header--h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .header--h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header--h1 {
    letter-spacing: 2rem;
  }
}

@media only screen and (max-width: 30em) {
  .header--h1 {
    letter-spacing: 1.6rem;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .header--h1 {
    font-size: 3rem;
  }
}

.kimberli-font {
  font-family: kimperly-kg, sans-serif !important;
}

.header--h2__big {
  letter-spacing: 1.1rem;
  margin-bottom: 5rem;
  font-family: kimperly-kg, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
}

@media only screen and (max-width: 75em) {
  .header--h2__big {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .header--h2__big {
    letter-spacing: .8rem;
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header--h2__big {
    letter-spacing: .7rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 30em) {
  .header--h2__big {
    letter-spacing: .6rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .header--h2__big {
    letter-spacing: .4rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 20em) {
  .header--h2__big {
    font-size: 1.4rem;
  }
}

.header--h2 {
  text-transform: uppercase;
  letter-spacing: .7rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: Lato, san-serif;
  font-size: 3rem;
  font-weight: 700;
}

.header--h2--aboutus {
  margin: 0;
}

.header--h3 {
  text-transform: uppercase;
  letter-spacing: .4rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

@media only screen and (max-width: 37.5em) {
  .header--h3 {
    margin-bottom: 1rem;
  }
}

.header--h5 {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.header--h5--small {
  letter-spacing: .5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 64em) {
  .p-last {
    margin-bottom: 0 !important;
  }
}

.paragraph-regular {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1;
  font-family: Lato, san-serif !important;
}

.paragraph-regular--tel {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.paragraph-regular__copy {
  letter-spacing: .3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  line-height: 1.3;
}

.paragraph-regular__small {
  font-size: 1.6rem;
}

.banner-btn-container {
  display: flex;
}

.banner-btn {
  cursor: pointer;
  letter-spacing: .5rem;
  text-transform: uppercase;
  color: var(--secondary-color--dark);
  box-shadow: .3em .3em 0 0 var(--color8), inset .3em .3em 0 0 var(--color5);
  z-index: 1000;
  background-color: #0000;
  border: .5px solid #3a393965;
  border-radius: 5px;
  padding: 2.5rem 3.5rem;
  font-family: Lato, san-serif;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 1s;
}

.banner-btn:hover {
  box-shadow: 0 0 0 0 #00000080, inset 6em 5em 0 0 var(--color5);
  color: var(--tertiary-color);
}

.banner-btn--contact {
  color: var(--secondary-color--dark);
  background-color: #0000;
  border-radius: 5px;
  box-shadow: .3em .3em 0 0 var(--color8), inset .3em .3em 0 0 var(--color1) !important;
  padding: 1.3rem 2.3rem !important;
  font-size: 1.4rem !important;
}

.banner-btn--contact:hover {
  color: var(--secondary-color--dark) !important;
  box-shadow: 0 0 0 0 var(--color8), inset 6em 3.5em 0 0 var(--color1) !important;
}

@media only screen and (max-width: 75em) {
  .banner-btn {
    padding: 2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .banner-btn {
    padding: 1.6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .banner-btn {
    letter-spacing: .3rem;
    border-radius: 2.5px;
    padding: 1.5rem;
    font-size: .8rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .banner-btn {
    letter-spacing: .2rem;
    border-radius: 1.2px;
    padding: 1.1rem;
  }
}

.btn-text:visited {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #ceac50, #93d053, #4bc367, #4fc4c2);
  -webkit-background-clip: text;
  color: #0000;
}

.btn-text:link, .btn-text:visited {
  color: var(--secondary-color--dark);
  padding: 1.5rem;
  font-size: 2.6rem;
  text-decoration: none;
  transition: all .5s;
  display: inline-block;
}

@media only screen and (max-width: 20em) {
  .btn-text:link, .btn-text:visited {
    font-size: 1rem;
  }
}

.btn-text {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #ceac50, #93d053, #4bc367, #4fc4c2);
  -webkit-background-clip: text;
  color: #0000;
}

.btn-text--infos {
  text-transform: uppercase;
  border: .2px solid #3a393965;
  border-radius: 5px;
  font-family: inherit;
  box-shadow: 0 3px 10px #b8b8ba50;
  padding: 1.3rem 2.3rem !important;
  font-size: 1.6rem !important;
}

.btn-text:hover {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #9bdc56, #5ad376, #4bc3c1);
  -webkit-background-clip: text;
  color: #0000;
  transform: scale(1.05);
}

.social-buttons {
  grid-column: 1 / -1;
  align-self: center;
  margin: 0 auto;
  list-style: none;
  display: flex;
}

.social-buttons--infos {
  justify-content: center;
}

.social-buttons--header {
  justify-content: flex-end;
  margin-right: 2.5rem;
}

.social-buttons--header li a {
  border: none !important;
}

.social-buttons--header li {
  margin-left: 0 !important;
}

.social-buttons--nav {
  justify-content: center;
}

.social-buttons li {
  width: auto;
  justify-content: center;
  margin-left: 1rem;
  transition: all .5s;
  display: flex;
}

.social-buttons li:hover {
  transform: scale(1.2);
}

.social-buttons li :first-child {
  margin-left: 0;
}

.social-buttons li a {
  width: 4rem;
  height: 4rem;
  fill: var(--secondary-color--dark);
  color: vr(--secondary-color--dark);
  background-color: #fff;
  border: .5px solid #312f2f3d;
  border-radius: 50%;
  align-content: center;
  padding: 1rem;
  display: flex;
}

.social-icons {
  width: 3rem;
  height: 3rem;
  fill: var(--secondary-color--dark);
  color: vr(--secondary-color--dark);
  place-self: center;
  display: flex;
}

.social-icons path {
  place-self: center;
  display: flex;
}

.aboutus {
  height: auto;
  width: 100%;
  flex-direction: column;
  place-content: center;
  margin: 0 auto;
  padding: 0 !important;
}

.aboutus-slide {
  height: 80rem;
  max-width: 100%;
  background-color: #fff;
  grid-template-columns: 1fr;
  justify-content: center;
  display: grid;
}

@media only screen and (max-width: 64em) {
  .aboutus-slide {
    height: 110rem;
  }
}

.slider {
  height: 60%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 64em) {
  .slider {
    height: 80rem;
  }
}

.slider-btn img {
  max-width: 5rem;
  max-height: 5rem;
  transition: all .2s;
}

.slider-btn img:hover {
  transform: scale(1.2);
}

.slider-btn {
  z-index: 1000;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 47%;
}

.slider-btn--left {
  left: 10%;
}

.slider-btn--right {
  right: 10%;
}

.slider-dots {
  flex-direction: row;
  place-content: center;
  margin: 0 auto;
  display: flex;
  position: absolute;
  bottom: 0%;
}

.slider-dot {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border: 1px solid #615c5c65;
  border-radius: 1px;
  margin-right: 1.75rem;
  transition: all .5s;
}

.slider-dot__active {
  background-color: #615c5c65;
}

.component {
  height: 90%;
  width: 80%;
  z-index: 50;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .component {
    width: 90%;
  }
}

.component-content {
  max-width: 100%;
  height: 37rem;
  grid-template-columns: 35% 65%;
  margin: 0 auto;
  transition: all .3s;
  display: grid;
  position: absolute;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .component-content {
    height: 100%;
    grid-template-rows: 43% 57%;
    grid-template-columns: 1fr;
  }
}

.components {
  background-color: var(--white);
  width: 70%;
  height: 37rem;
  border-radius: 5px;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  display: grid;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 2px 8px #63636333;
}

@media only screen and (max-width: 64em) {
  .components {
    height: 90%;
    width: 50%;
  }
}

.component-left {
  flex-wrap: wrap;
  place-items: center;
  display: flex;
}

.component-left div {
  height: 100%;
  width: 100%;
  display: grid;
}

.component-left--photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 40rem;
  display: flex;
}

@media only screen and (max-width: 64em) {
  .component-left--photo {
    max-height: 32rem;
  }
}

.component-right {
  text-align: left;
  flex-direction: column;
  place-content: flex-end center;
  padding: 2rem;
  display: flex;
}

@media only screen and (max-width: 64em) {
  .component-right {
    text-align: center;
  }
}

.component-right--text {
  margin: 0;
}

.component-right--name {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
}

.component-right--position {
  color: #424242;
  margin: 0;
}

.contact {
  background-color: var(--secondary-color--light);
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
  font-family: Lato, san-serif;
  display: flex;
}

.contact__container {
  color: var(--secondary-color--dark);
  width: auto;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.contact-helper {
  padding-top: 5rem;
}

.contact-helper--button {
  font-family: inherit;
}

.contact-header {
  text-align: center;
  color: #fff;
  letter-spacing: .5rem;
  font-size: 1.6rem;
}

.helper-tasks--first {
  padding-bottom: 2rem;
}

.contact-helper--question {
  color: var(--secondary-color--dark);
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-family: inherit;
}

.contact-helper--question h3 {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem;
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.contact-helper--question h4 {
  text-align: center;
  letter-spacing: .3rem;
  font-size: 1.8rem;
}

.row {
  grid-gap: 2rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
  display: grid;
}

@media only screen and (max-width: 64em) {
  .row {
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .row {
    grid-template-columns: 1fr;
  }
}

.row__form {
  width: 90%;
  height: 50%;
  flex-direction: column;
  align-self: flex-start;
  margin: 3rem;
  display: flex;
}

.row__contacte {
  width: 100%;
  flex-direction: column;
  font-family: Lato, san-serif;
  display: flex;
}

@media only screen and (max-width: 26.75em) {
  .row__contacte {
    text-align: center;
    align-items: center;
    padding: .5rem;
  }
}

.row__form--rigths {
  width: 100%;
  grid-column: 1 / -1;
  padding-left: 4rem;
  padding-right: 3rem;
}

.contacte__link {
  color: inherit;
  font-family: Lato, san-serif;
  text-decoration: none;
}

.contacte__link:link, .contacte__link:visited {
  transition: all .2s;
}

.contacte__link:hover {
  filter: brightness(1.3);
}

#my-form {
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  font-family: Lato, san-serif;
  display: grid;
}

.form {
  font-family: Lato, san-serif;
}

.form__control {
  height: 4rem;
  letter-spacing: .4rem;
  width: 100%;
  background-color: var(--tertiary-color);
  appearance: none;
  background-clip: padding-box;
  border: 1px solid #615c5c65;
  border-radius: 5px;
  padding: 1rem;
  font-family: Lato, san-serif;
  font-size: 1.3rem;
  transition: all .7s;
  display: block;
  box-shadow: 0 2px 8px #63636333;
}

@media only screen and (max-width: 30em) {
  .form__control {
    height: 2.3em;
    border-radius: 3px;
    font-size: 1.2rem;
  }
}

.form__control::placeholder {
  align-items: center;
  padding-left: 1rem;
  font-family: Lato, san-serif;
  color: #4e4d4d99 !important;
}

input[type="date" i] {
  align-items: center;
  padding-left: 2rem;
  font-family: Lato, san-serif;
  color: #4e4d4d99 !important;
}

#message {
  height: 18rem;
}

.option {
  height: 4rem;
  background-color: var(--tertiary-color);
  letter-spacing: .4rem;
  background-clip: padding-box;
  border: 1px solid #615c5c65;
  border-radius: 5px;
  align-items: center;
  padding-left: 2rem;
  font-family: Lato, san-serif;
  font-size: 1.3rem;
  transition: all .7s;
  display: block;
  box-shadow: 0 2px 8px #63636333;
  color: #4e4d4d99 !important;
}

@media only screen and (max-width: 30em) {
  .option {
    height: 2.3rem;
    border-radius: 3px;
    font-size: 1.2rem;
  }
}

.option:focus {
  outline: none;
}

.form-option {
  flex-direction: column;
  margin-top: 2rem;
  display: flex;
}

.form-option label {
  padding-bottom: .5rem;
  padding-left: 1rem;
  font-family: Lato, san-serif;
  font-size: 1.4rem;
  line-height: 1;
}

.form-check {
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 1rem;
  font-family: inherit;
  display: flex;
}

.form-check p {
  letter-spacing: .3rem;
  margin-left: 1rem;
  font-size: 1.7rem;
}

.form-check-toggle:before {
  content: "";
  width: 1rem;
  height: 1rem;
  box-shadow: inset 1rem 1rem var(--secondary-color--dark);
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  border-radius: 5px;
  transition: transform .4s ease-in-out;
  transform: scale(0);
}

.form-check-toggle:checked:before {
  transform: scale(1.5);
}

.form-check-toggle {
  appearance: none;
  font: inherit;
  color: currentColor;
  background-color: var(--tertiary-color);
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #615c5c65;
  border-radius: 5px;
  place-content: center;
  align-self: center;
  margin-left: .2rem;
  padding-left: 0;
  display: grid;
  box-shadow: 0 2px 8px #63636333;
}

@media only screen and (max-width: 31em) {
  .form-check-toggle {
    border-radius: 2.5px;
  }
}

.form-check-btn {
  grid-template-columns: 1fr auto;
  display: grid;
}

.form__control:focus {
  border-bottom: 4px solid var(--color6);
  outline: none;
  padding-left: 2rem;
  transition: all 1s;
}

.form__control:focus:invalid {
  border-bottom: 4px solid var(--color4);
  transition: all 1s;
}

.form__label {
  opacity: 0;
  transition: all 3s;
  display: none;
}

label {
  cursor: default;
}

.contacts {
  width: auto;
  grid-gap: 2rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 auto;
  padding-top: 4rem;
  font-family: inherit;
  font-weight: 300;
  display: grid;
}

@media only screen and (max-width: 26.75em) {
  .contacts {
    grid-gap: .5rem;
  }
}

.contacts--adresse__header {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
}

@media only screen and (max-width: 26.75em) {
  .contacts--adresse__header {
    font-size: 1.4rem;
  }
}

.contacts--nav-items {
  list-style: none;
}

.contacts--nav-items li a {
  text-transform: uppercase;
  color: #fff;
  font-family: Lato, san-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 26.75em) {
  .contacts--nav-items li a {
    font-size: 1.4rem;
  }
}

.contacts svg {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 50em) {
  .contacts svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.contacts--paragraph-regular {
  color: #fff;
  font-family: Lato, san-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

@media only screen and (max-width: 26.75em) {
  .contacts--paragraph-regular {
    font-size: 1.4rem;
  }
}

.contacts--paragraph-regular a {
  color: #fff;
  text-decoration: none;
}

.contacts-rows {
  width: 90%;
  grid-gap: 1rem;
  grid-auto-rows: 20% 80%;
  display: grid;
}

.contacts--list {
  grid-gap: .5rem;
  grid-template-rows: auto;
  display: grid;
}

.form__group {
  height: 70%;
  flex-direction: column;
  display: flex;
}

.text-white {
  align-self: center;
  margin-right: 1rem;
  display: flex;
}

.icon {
  flex-direction: row;
  align-items: center;
  display: flex;
}

#status {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: Lato, san-serif;
  font-size: 1.2rem;
}

hr {
  height: 1px;
  background: #fff;
  border: none;
  border-radius: 5px;
}

.helpers-tasks .paragraph-regular {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.verbindlich {
  padding-top: 2rem;
}

.toggle-verbindlich {
  width: 2.5rem;
  height: 2.1rem;
}

iframe {
  height: auto;
  width: 100%;
  scroll-behavior: none;
  border: none;
  overflow: hidden;
  overflow-clip-margin: content-box !important;
  overflow: clip !important;
}

.paragraph-regular--rights {
  padding-top: 2rem;
}

.footer {
  background-color: var(--white);
  align-self: center;
  height: 10rem !important;
}

@media only screen and (max-width: 20em) {
  .footer {
    padding: 2rem;
  }
}

.footer__container {
  opacity: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.footer__container > * {
  display: flex;
}

.footer__love {
  height: 2rem;
  width: 2rem;
  fill: var(--primary-color);
  color: var(--secondary-color--dark);
  align-self: center;
  margin-right: .7rem;
}

.footer a {
  color: var(--secondary-color--dark);
  text-decoration: none;
  transition: all 1s;
}

.footer a:hover {
  transform: scale(1.1);
}

.gallery {
  height: 75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 64em) {
  .gallery {
    max-height: 60rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .gallery {
    max-height: 50rem;
    width: 98%;
  }
}

.gallery__container {
  width: 80%;
  height: 100%;
  border: 1px solid #615c5c65;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 8px #63636333;
}

@media only screen and (max-width: 110em) {
  .gallery__container {
    width: 90%;
  }
}

@media only screen and (max-width: 100em) {
  .gallery__container {
    width: 100%;
  }
}

.main-image-section {
  width: 80%;
  height: 80%;
}

.main-view {
  width: 100%;
  height: 90rem;
  object-fit: cover;
  opacity: 0;
  cursor: pointer;
  transition: all 1s;
  display: grid;
}

@media only screen and (max-width: 64em) {
  .main-view {
    height: 70rem;
  }
}

@media only screen and (max-width: 20em) {
  .main-view {
    height: 60rem;
  }
}

.caption-container {
  width: 100%;
  height: 100px;
  opacity: 0;
  background: #0009;
  transition: all 1s;
  position: absolute;
  bottom: -100px;
}

.main-image-section:hover .caption-container {
  opacity: 1;
  bottom: 0;
}

#caption {
  color: #fff;
  padding: 10px;
  font-size: 42px;
}

#info {
  color: #ccc;
  padding: 0 10px;
}

.thumbnails {
  height: 100%;
  width: 20%;
  padding-left: 3px;
  overflow-y: auto;
}

.thumbnails img {
  width: 100%;
  opacity: .7;
  cursor: pointer;
  object-fit: cover;
  transition: opacity .3s;
}

@media only screen and (max-width: 37.5em) {
  .thumbnails img {
    height: 15rem;
  }
}

@media only screen and (max-width: 25.875em) {
  .thumbnails img {
    height: 10rem;
  }
}

.thumbnails img:hover, .thumbnails img:focus {
  opacity: 1;
}

#home {
  max-width: 210rem;
  height: auto;
  grid-template-rows: 1fr 90%;
  grid-template-columns: 1fr;
  display: grid;
  position: relative;
}

.nomargin {
  margin-top: 0 !important;
}

.plusmargin {
  margin-top: 11rem !important;
}

@media only screen and (max-width: 50em) {
  .plusmargin {
    margin-top: 9rem !important;
  }
}

.minusmargin {
  margin-top: -2%;
}

.bg-video {
  place-items: stretch stretch;
  display: flex;
}

.bg-video__content {
  width: 110%;
  height: 110%;
  grid-area: 2 / 1 / -2 / -1;
  align-self: center;
  display: flex;
}

.text-area {
  text-align: center;
  z-index: 1000;
  flex-direction: column;
  place-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
}

.infos {
  height: auto;
  width: 100%;
  align-items: center;
}

.border {
  height: auto;
  width: 90%;
  z-index: 0;
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 5px;
  grid-template-columns: 1fr;
  place-self: center;
  margin: 0 auto;
  padding: 1.2rem 0;
  animation: 15s infinite alternate color-border;
  display: grid;
  box-shadow: 0 7px 29px #6c6c6f50;
}

@keyframes color-border {
  50% {
    background-position: 100%;
  }
}

@media only screen and (max-width: 26.75em) {
  .border {
    width: 98%;
  }
}

.infos-content {
  text-align: center;
  width: 98%;
  height: 99%;
  grid-gap: 1.5rem;
  background-color: #fff;
  border: .5px solid #312f2f3d;
  flex-direction: column;
  grid-template-rows: 70% 15% 15%;
  grid-template-columns: 1fr 1fr;
  place-self: center;
  padding: 5rem;
  display: grid;
}

@media only screen and (max-width: 75em) {
  .infos-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media only screen and (max-width: 64em) {
  .infos-content {
    grid-gap: 1rem;
    padding: 2rem;
  }
}

.infos-content__container {
  text-align: justify;
  flex-direction: column;
  padding: 3rem;
  display: flex;
}

.infos-paragraph-highligted {
  margin: 0 !important;
}

.infos__container--center {
  width: 100%;
  text-align: center;
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
}

@media only screen and (max-width: 75em) {
  .infos__container--center {
    padding-top: 0;
  }
}

.infos__container--center .header--h2 {
  margin-bottom: 1rem;
}

.infos__container--center a {
  place-self: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100% !important;
}

.infos__container--center h2 a {
  margin: 0 !important;
  padding: 0 !important;
}

.infos__container--center .paragraph-regular {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.programms {
  height: auto;
  background-color: var(--white);
  place-items: center;
  padding-top: 5rem;
  font-family: Lato, san-serif;
  display: flex;
}

.programms__container {
  height: auto;
  width: 90%;
  flex-direction: column;
  place-content: center;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 20em) {
  .programms__container {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.programms--text-area {
  width: 80%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
}

@media only screen and (max-width: 100em) {
  .programms--text-area {
    width: 100%;
  }
}

.programms--text-area .paragraph-regular {
  width: 90%;
  align-self: center;
}

@media only screen and (max-width: 20em) {
  .programms--text-area a {
    font-size: 1.8rem !important;
  }
}

.sticky {
  z-index: 20000;
  width: 100%;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 100% !important;
}

.nav-main {
  background: var(--color3);
  transition: all .3s;
  box-shadow: 0 7px 29px #4e4e5650;
}

.nav {
  height: 50vh;
  margin: 0 auto;
  padding-top: 20%;
  display: flex;
}

@media only screen and (max-height: 390px) {
  .nav {
    padding-top: 0;
  }
}

.nav-links {
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.nav-links a {
  letter-spacing: 1px;
  color: #fff;
  font-family: Lato, san-serif;
  font-size: 3.5em;
  text-decoration: none;
}

.navigation__container {
  z-index: 20000;
  max-width: 210rem;
  height: 11rem;
  background-color: var(--white);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 1rem 3rem #02020210;
}

@media only screen and (max-width: 50em) {
  .navigation__container {
    height: 9rem;
  }
}

.navigation__container > * {
  width: 33.3vw;
}

.navbar-logo {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-logo a {
  display: flex;
}

.navbar-logo img {
  width: 13rem;
  height: 13rem;
  align-self: center;
}

@media only screen and (max-width: 50em) {
  .navbar-logo img {
    width: 11rem;
    height: 11rem;
  }
}

nav {
  height: 100%;
  justify-tracks: center;
  display: flex;
  position: relative;
}

nav input[name="toggle-nav"], nav label[for="toggle-nav"] {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 35%;
  left: 10%;
}

@media only screen and (max-width: 50em) {
  nav input[name="toggle-nav"], nav label[for="toggle-nav"] {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 31em) {
  nav input[name="toggle-nav"], nav label[for="toggle-nav"] {
    width: 20px;
    height: 23px;
  }
}

nav input[name="toggle-nav"] {
  cursor: pointer;
  opacity: 0;
  z-index: 20002;
  display: block;
}

nav label[for="toggle-nav"] {
  z-index: 20001;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 31em) {
  nav label[for="toggle-nav"] {
    transform: translateY(-10%);
  }
}

@media only screen and (max-width: 25.875em) {
  nav label[for="toggle-nav"] {
    transform: translateY(-20%);
  }
}

input[name="toggle-nav"]:checked ~ label[for="toggle-nav"] {
  top: 50%;
}

.menu-icon, .menu-icon:before, .menu-icon:after {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color--dark);
  border-radius: 10px;
  transition: all .2s ease-out;
  display: block;
}

@media only screen and (max-width: 50em) {
  .menu-icon, .menu-icon:before, .menu-icon:after {
    height: 2px;
  }
}

.menu-icon:before, .menu-icon:after {
  content: "";
  position: absolute;
}

.menu-icon:before {
  top: 7px;
}

.menu-icon:after {
  bottom: 7px;
}

input[name="toggle-nav"]:checked ~ .side-nav-panel {
  left: 0;
}

input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon, input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:before, input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:after {
  background-color: #0000;
}

input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:before, input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:after {
  background-color: #fff;
}

input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:before {
  top: 16px;
  transform: rotate(45deg);
}

@media only screen and (max-width: 50em) {
  input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:before {
    top: 7px;
  }
}

@media only screen and (max-width: 31em) {
  input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:before {
    top: 5px;
  }
}

input[name="toggle-nav"]:checked + label[for="toggle-nav"] .menu-icon:after {
  bottom: 16px;
  transform: rotate(-45deg);
}

.side-nav-panel {
  width: 50vw;
  max-width: 380px;
  height: 100vh;
  background: var(--color3);
  flex-direction: column;
  padding-top: 85px;
  transition: left .3s;
  display: flex;
  position: fixed;
  top: 0;
  left: -100vw;
  box-shadow: 0 7px 29px #4e4e5650;
}

.top-nav {
  max-height: 50vh;
  grid-gap: 2rem;
  display: grid;
  overflow-y: auto;
}

@media only screen and (max-height: 390px) {
  .top-nav {
    grid-gap: 0;
  }
}

@media (max-height: 540px) {
  .top-nav {
    max-height: 40vh;
  }
}

.nav-item {
  justify-self: center;
  margin: 0 auto 2rem;
  font-family: Lato, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  display: flex;
  position: relative;
}

@media only screen and (max-height: 390px) {
  .nav-item {
    margin-bottom: 1.5rem;
    font-size: .5rem;
  }
}

.nav-item:after {
  content: "";
  width: 0%;
  border-bottom: 3px dashed var(--color8);
  text-decoration: none;
  transition: all .8s;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .nav-item:after {
    border-bottom: 2px dashed var(--color8);
  }
}

@media only screen and (max-width: 22.5em) {
  .nav-item:after {
    border-bottom: 1px dashed var(--color8);
    bottom: -3px;
  }
}

.nav-item:hover:after {
  width: 100%;
}

.social-nav__header {
  display: flex;
}

.social-nav .nav-buttons {
  justify-content: center !important;
  margin: 0 !important;
}

.social-nav__aside {
  width: 80%;
  text-align: center;
  border-top: 1px solid #fff;
  margin: 0 auto;
  padding-top: 2em;
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
}

.social-nav .fab, .social-nav .far {
  color: #fff;
  margin: 0 6px;
  font-size: 1.375em;
}

#impressum {
  flex-direction: column;
  display: flex;
}

.impressum {
  max-width: 80%;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3rem;
}

.impressum ul, .impressum ol {
  margin-left: 3rem;
}

.impressum a, .impressum a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

/*# sourceMappingURL=index.8d8029cf.css.map */
