* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  margin-top: 0 !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  html {
    font-size: 55% !important;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 55% !important;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50% !important;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 45% !important;
  }
}

@media screen and (max-width: 428px) {
  html {
    font-size: 40% !important;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 35% !important;
  }
}

body {
  max-width: 100%;
  color: var(--secondary-color--dark);
  background-repeat: no-repeat;
  font-family: eb-garamod, serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

#cookies-eu-banner {
  z-index: 8000000;
  color: var(--secondary-color--dark);
  background-color: var(--blue-background);
  opacity: .9;
  width: 20em;
  text-align: left;
  border: 2px solid var(--yellow-border);
  margin-left: 3rem;
  font-family: inherit;
  position: fixed;
  bottom: 2em;
  left: -5px;
}

#cookies-eu-banner[style*="display: block"] {
  animation: 1s ease-in-out 1s forwards showCookieBanner;
}

#cookies-eu-banner.before-remove {
  animation: 1s ease-in-out forwards hideCookieBanner;
}

.cookies-container {
  text-align: center;
  letter-spacing: .1rem;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
}

@keyframes showCookieBanner {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes hideCookieBanner {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}

.cookie--link {
  color: var(--secondary-color--dark);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-decoration: none;
}

.cookie--link:hover {
  text-decoration: underline;
}

.btn-cookies {
  color: var(--secondary-color--dark);
  cursor: pointer;
  margin-top: 1rem;
  padding: .25em .5em .2em;
  font-size: 1rem;
  transition: all .3s;
}

#cookies-eu-reject {
  border: 1px solid var(--secondary-color--dark);
  background: none;
  margin-top: .5rem;
}

#cookies-eu-reject:hover {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  -webkit-background-clip: text;
  color: #0000;
  transform: translateY(-2px);
}

#cookies-eu-accept {
  border: 1px solid var(--secondary-color--dark);
  background: none;
}

#cookies-eu-accept:hover {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  -webkit-background-clip: text;
  color: #0000;
  transform: translateY(-2px);
}

:root {
  --color1: #5ff2f0;
  --color2: #a65ff2;
  --color3: #62b8ff;
  --color4: #f2cb5f;
  --color5: #f25fd0;
  --color6: #5ff281;
  --color7: #abf25f;
  --color8: #f2ff35;
  --primary-color: #f25f61;
  --secondary-color: #b6602f;
  --secondary-color--light: #62b8ff;
  --secondary-color--night: #81b4de;
  --secondary-color--dark: #1b1007;
  --tertiary-color: #fcfaf7;
  --tertiary-color--dark: #ece5db;
  --white: #fff;
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-darker: #d0d0d3;
  --gray-dots: #e8e8ea;
}

.section {
  opacity: 1;
  padding: 5rem;
  transition: all 1s;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .section {
    padding: 1rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(3rem);
}

.document--container {
  max-width: 210rem;
  background-color: var(--tertiary-color);
  border: 2px solid var(--secondary-color--dark);
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0 !important;
}

@font-face {
  font-display: swap;
  font-family: kimperly-kg;
  src: url("KGOnlyHope.fd6dcfb9.ttf");
}

@font-face {
  font-display: swap;
  font-family: chubby;
  src: url("ChubbyDotty.c736e8a0.ttf");
}

.text-center {
  text-align: center !important;
}

.header--h1 {
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  font-family: kimperly-kg, sans-serif;
  font-size: 10rem;
  line-height: 1;
}

@media only screen and (max-width: 75em) {
  .header--h1 {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .header--h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header--h1 {
    letter-spacing: 2.5rem;
  }
}

@media only screen and (max-width: 30em) {
  .header--h1 {
    letter-spacing: 2rem;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 20em) {
  .header--h1 {
    font-size: 3rem;
  }
}

.header--h2__big {
  letter-spacing: 1.5rem;
  margin-bottom: 5rem;
  font-family: kimperly-kg, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
}

@media only screen and (max-width: 75em) {
  .header--h2__big {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .header--h2__big {
    letter-spacing: 1rem;
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header--h2__big {
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 30em) {
  .header--h2__big {
    letter-spacing: .8rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .header--h2__big {
    letter-spacing: .7rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 20em) {
  .header--h2__big {
    font-size: 1.4rem;
  }
}

.header--h2 {
  text-transform: uppercase;
  letter-spacing: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: kimperly-kg, sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.header--h3 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.4;
}

.header--h5 {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.header--h5--small {
  letter-spacing: .6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.paragraph-regular {
  letter-spacing: .4rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.paragraph-regular__copy {
  letter-spacing: .4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.paragraph-regular__small {
  font-size: 1.6rem;
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.color5 {
  color: var(--color5);
}

.color6 {
  color: var(--primary-color);
}

.highligted-bunt--inverse {
  background-image: linear-gradient(110deg, #5ff2f0, #5ff281, #abf25f, #f2cb5f, #f25f61, #f25fd0, #a65ff2, #5f86f2);
  -webkit-background-clip: text;
  color: #0000;
}

.highligted-bunt {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  -webkit-background-clip: text;
  color: #0000;
}

.highligted {
  background-image: linear-gradient(to left, #3f9cc4, #00b0fb);
  -webkit-background-clip: text;
  color: #0000;
  transition: all .2s;
}

.aboutus {
  height: 100%;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 64em) {
  .aboutus {
    align-content: center;
  }
}

.aboutus-slide {
  height: 100rem;
  background-color: #fff;
  justify-content: center;
  margin-top: 20rem;
  display: flex;
  width: 100% !important;
}

@media only screen and (max-width: 64em) {
  .aboutus-slide {
    height: 120rem;
  }
}

.slider:before {
  content: "";
  width: 100rem;
  height: 20rem;
  filter: blur(15rem);
  background-image: linear-gradient(60deg, #f5eb71, #fffaa8, #abf25f);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  display: block;
  position: absolute;
  top: 10rem;
  left: 20%;
}

.slider {
  height: 60%;
  width: 100%;
  margin-top: 5rem;
  position: relative;
}

.slider-btn img {
  transition: all .3s;
}

.slider-btn img:hover {
  transform: scale(1.5);
}

.slider-btn {
  z-index: 50;
  cursor: pointer;
  padding: 2rem;
  display: flex;
  position: absolute;
  top: 25%;
}

@media only screen and (max-width: 64em) {
  .slider-btn {
    top: 40%;
  }
}

@media only screen and (max-width: 37.5em) {
  .slider-btn {
    top: 38%;
  }
}

.slider-btn--left {
  left: 3%;
}

@media only screen and (max-width: 90em) {
  .slider-btn--left {
    left: -8%;
  }
}

@media only screen and (max-width: 64em) {
  .slider-btn--left {
    left: 10%;
  }
}

@media only screen and (max-width: 37.5em) {
  .slider-btn--left {
    left: 0%;
  }
}

@media only screen and (max-width: 31em) {
  .slider-btn--left {
    left: -3%;
  }
}

@media only screen and (max-width: 23.5em) {
  .slider-btn--left {
    left: -8%;
  }
}

.slider-btn--right {
  right: 3%;
}

@media only screen and (max-width: 90em) {
  .slider-btn--right {
    right: -8%;
  }
}

@media only screen and (max-width: 64em) {
  .slider-btn--right {
    right: 9%;
  }
}

@media only screen and (max-width: 37.5em) {
  .slider-btn--right {
    right: 0%;
  }
}

@media only screen and (max-width: 31em) {
  .slider-btn--right {
    right: -3%;
  }
}

@media only screen and (max-width: 23.5em) {
  .slider-btn--right {
    right: -9%;
  }
}

.slider-btn--left img {
  transform: translateX(.5rem);
}

.slider-dots {
  margin: 0 auto;
  position: absolute;
  bottom: 0%;
  left: 45%;
}

@media only screen and (max-width: 64em) {
  .slider-dots {
    bottom: -2%;
    left: 42%;
  }
}

@media only screen and (max-width: 51.25em) {
  .slider-dots {
    left: 40%;
  }
}

@media only screen and (max-width: 45em) {
  .slider-dots {
    left: 38%;
  }
}

@media only screen and (max-width: 37.5em) {
  .slider-dots {
    bottom: 5%;
    left: 37%;
  }
}

@media only screen and (max-width: 31em) {
  .slider-dots {
    left: 36%;
  }
}

@media only screen and (max-width: 23.5em) {
  .slider-dots {
    left: 33%;
  }
}

.slider-dot {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border: 2px solid var(--secondary-color--dark);
  margin-right: 1.75rem;
  transition: all 1s;
}

.slider-dot__active {
  background-color: var(--secondary-color--dark);
}

.component {
  height: 90%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 90em) {
  .component {
    width: 100%;
  }
}

@media only screen and (max-width: 64em) {
  .component {
    width: 40rem;
    height: 70rem;
  }
}

@media only screen and (max-width: 20em) {
  .component {
    width: 35rem;
  }
}

.component-content {
  width: 100%;
  height: 37rem;
  grid-template-columns: 29% 69%;
  margin: 0 auto;
  transition: all 1s;
  display: grid;
  position: absolute;
  overflow: hidden;
}

@media only screen and (max-width: 110em) {
  .component-content {
    grid-template-columns: 33% 67%;
  }
}

@media only screen and (max-width: 75em) {
  .component-content {
    grid-template-columns: 36% 64%;
  }
}

@media only screen and (max-width: 64em) {
  .component-content {
    height: 100%;
    grid-template-rows: 43% 57%;
    grid-template-columns: 1fr;
  }
}

.components {
  border: 3px solid var(--secondary-color--dark);
  background-color: var(--white);
  width: 100%;
  height: 37rem;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  display: grid;
  position: absolute;
  overflow: hidden;
}

@media only screen and (max-width: 64em) {
  .components {
    width: 100%;
    height: 100%;
    grid-template-rows: 40% 60%;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 45em) {
  .components {
    grid-template-rows: 45% 55%;
  }
}

@media only screen and (max-width: 25.875em) {
  .components {
    grid-template-rows: 35% 65%;
  }
}

.component-left {
  justify-items: flex-start;
  display: flex;
}

@media only screen and (max-width: 64em) {
  .component-left {
    justify-content: center;
  }
}

.component-left--photo {
  width: 35rem;
  object-fit: cover;
  height: 40rem;
}

@media only screen and (max-width: 64em) {
  .component-left--photo {
    max-height: 30rem;
    width: 40rem;
  }
}

@media only screen and (max-width: 30em) {
  .component-left--photo {
    width: 40rem;
  }
}

@media only screen and (max-width: 20em) {
  .component-left--photo {
    width: 35rem;
  }
}

.component-right {
  text-align: center;
  flex-direction: column;
  place-content: center;
  padding: 2rem;
  display: flex;
}

@media only screen and (max-width: 110em) {
  .component-right {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 90em) {
  .component-right {
    padding: 2rem 5rem;
    transform: translateY(-2rem);
  }
}

@media only screen and (max-width: 64em) {
  .component-right {
    justify-content: center;
    padding: 1rem;
  }
}

@media only screen and (max-width: 45em) {
  .component-right {
    padding: 1rem 2rem 2rem;
  }
}

@media only screen and (max-width: 20em) {
  .component-right {
    padding: 0;
  }
}

.component-right--text {
  margin: 0;
}

.component-right--name {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: bold;
}

.component-right--position {
  color: #424242;
  margin: 0;
}

.contact {
  background-color: var(--secondary-color--light);
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 70rem !important;
}

@media only screen and (max-width: 26.75em) {
  .contact {
    height: 90rem !important;
  }
}

.contact__container {
  color: var(--secondary-color--dark);
  height: 80%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-width: 50em) {
  .contact__container {
    width: 100%;
  }
}

.row {
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  display: grid;
}

@media only screen and (max-width: 50em) {
  .row {
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .row {
    grid-template-columns: 1fr;
  }
}

.row__contacte {
  width: 100%;
  flex-direction: column;
  padding: 2rem;
  display: flex;
}

@media only screen and (max-width: 26.75em) {
  .row__contacte {
    text-align: center;
    align-items: center;
    padding: .5rem;
  }
}

.row__form {
  display: grid;
}

.contacte__link {
  color: inherit;
  text-decoration: none;
}

.contacte__link:link, .contacte__link:visited {
  transition: all .2s;
}

.contacte__link:hover {
  filter: brightness(1.3);
}

#my-form {
  grid-gap: .5rem;
  padding: 2rem;
  display: grid;
}

@media only screen and (max-width: 50em) {
  #my-form {
    padding: .5rem;
  }
}

.form {
  font-family: inherit;
}

.form__control {
  letter-spacing: .4rem;
  width: 100%;
  background-color: var(--tertiary-color);
  border: 2px solid var(--secondary-color--dark);
  appearance: none;
  background-clip: padding-box;
  padding: .5rem;
  font-family: eb-garamod, serif;
  font-size: 1.3rem;
  transition: all .7s;
  display: block;
}

.form__control::placeholder {
  color: #b2b2b2 !important;
}

.form__control:focus {
  border-bottom: 4px solid var(--color4);
  outline: none;
}

.form__control:focus:invalid {
  border-bottom: 4px solid var(--color6);
}

.form__label {
  opacity: 0;
  transition: all 3s;
  display: block;
}

label {
  cursor: default;
}

.social-icons {
  text-transform: uppercase;
  color: var(--secondary-color--dark);
  width: 70%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  margin: 0 auto;
  padding-top: 4rem;
  font-family: inherit;
  font-weight: 300;
  display: grid;
}

@media only screen and (max-width: 75em) {
  .social-icons {
    width: 80%;
  }
}

@media only screen and (max-width: 50em) {
  .social-icons {
    width: 100%;
  }
}

#status {
  letter-spacing: .4rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: eb-garamod, serif;
  font-size: 1.2rem;
}

.social-icons > * {
  place-items: center;
  margin: 0 auto;
  display: flex;
}

.social-icons svg {
  fill: var(--secondary-color--dark);
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 50em) {
  .social-icons svg {
    width: 1.1rem;
    height: 1.1rem;
  }
}

hr {
  height: 1px;
  background: var(--secondary-color--dark);
  border: none;
}

.banner-btn--2 {
  cursor: pointer;
  letter-spacing: .5rem;
  text-transform: uppercase;
  border: 2px solid var(--secondary-color--dark);
  color: var(--secondary-color--dark);
  box-shadow: .3em .3em 0 0 var(--color8), inset .3em .3em 0 0 var(--color1);
  background-color: #0000;
  margin-top: 2rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 1s;
}

.banner-btn--2:hover {
  box-shadow: 0 0 0 0 var(--color8), inset 6em 3.5em 0 0 var(--color1);
}

.footer {
  background-color: var(--white);
  align-self: center;
  height: 15rem !important;
}

@media only screen and (max-width: 20em) {
  .footer {
    padding: 2rem;
  }
}

.footer__container {
  opacity: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.footer__container > * {
  display: flex;
}

.footer__love {
  height: 2rem;
  width: 2rem;
  fill: var(--primary-color);
  color: var(--secondary-color--dark);
  align-self: center;
  margin-right: .7rem;
}

.footer a {
  color: var(--secondary-color--dark);
  text-decoration: none;
}

.gallery {
  height: 90rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
}

@media only screen and (max-width: 64em) {
  .gallery {
    height: 70rem;
  }
}

@media only screen and (max-width: 20em) {
  .gallery {
    height: 60rem;
  }
}

.gallery__container {
  width: 80%;
  height: 100%;
  border: 3px solid var(--secondary-color--dark);
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 110em) {
  .gallery__container {
    width: 90%;
  }
}

@media only screen and (max-width: 90em) {
  .gallery__container {
    width: 100%;
  }
}

@media only screen and (max-width: 20em) {
  .gallery__container {
    border: 1px solid var(--secondary-color--dark);
    border-radius: 0;
  }
}

.main-image-section {
  width: 80%;
  height: 80%;
}

.main-view {
  width: 100%;
  height: 90rem;
  object-fit: cover;
  opacity: 0;
  cursor: pointer;
  transition: all 1s;
  display: grid;
}

@media only screen and (max-width: 64em) {
  .main-view {
    height: 70rem;
  }
}

@media only screen and (max-width: 20em) {
  .main-view {
    height: 60rem;
  }
}

.caption-container {
  width: 100%;
  height: 100px;
  opacity: 0;
  background: #0009;
  transition: all 1s;
  position: absolute;
  bottom: -100px;
}

.main-image-section:hover .caption-container {
  opacity: 1;
  bottom: 0;
}

#caption {
  color: #fff;
  padding: 10px;
  font-size: 42px;
}

#info {
  color: #ccc;
  padding: 0 10px;
}

.thumbnails {
  height: 100%;
  width: 20%;
  padding: 5px;
  overflow-y: auto;
}

.thumbnails img {
  width: 100%;
  opacity: .7;
  cursor: pointer;
  object-fit: cover;
  transition: opacity .3s;
}

@media only screen and (max-width: 37.5em) {
  .thumbnails img {
    height: 15rem;
  }
}

@media only screen and (max-width: 25.875em) {
  .thumbnails img {
    height: 10rem;
  }
}

.thumbnails img:hover, .thumbnails img:focus {
  opacity: 1;
}

#home {
  height: 120rem;
  grid-template-rows: 1fr 90%;
  grid-template-columns: 1fr;
  display: grid;
  position: relative;
  margin-top: 0 !important;
}

@media only screen and (max-width: 90em) {
  #home {
    height: 95rem;
  }
}

@media only screen and (max-width: 80em) {
  #home {
    height: 85rem;
  }
}

@media only screen and (max-width: 75em) {
  #home {
    height: 80rem;
  }
}

@media only screen and (max-width: 64em) {
  #home {
    height: 70rem;
  }
}

@media only screen and (max-width: 51.25em) {
  #home {
    height: 64rem;
  }
}

@media only screen and (max-width: 37.5em) {
  #home {
    height: 52rem;
  }
}

@media only screen and (max-width: 30em) {
  #home {
    height: 42rem;
  }
}

@media only screen and (max-width: 22.5em) {
  #home {
    height: 40rem;
    height: 35rem;
  }
}

.bg-video {
  display: flex;
}

.bg-video__content {
  width: 110%;
  height: 110%;
  grid-area: 2 / 1 / -2 / -1;
}

.hiddenClass {
  display: none;
}

.text-area {
  text-align: center;
  z-index: 1000;
  flex-direction: column;
  place-self: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
}

@media only screen and (max-width: 110em) {
  .text-area {
    width: 80%;
  }
}

@media only screen and (max-width: 30em) {
  .text-area {
    top: 60%;
  }
}

.banner-btn-container {
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .banner-btn-container {
    height: 4.5rem;
  }
}

.banner-btn {
  cursor: pointer;
  letter-spacing: .5rem;
  text-transform: uppercase;
  border: 2px solid var(--secondary-color--dark);
  color: var(--secondary-color--dark);
  box-shadow: .3em .3em 0 0 var(--color8), inset .3em .3em 0 0 var(--color5);
  z-index: 1000;
  background-color: #0000;
  padding: 2.5rem 3.5rem;
  font-size: 1.4rem;
  text-decoration: none;
}

@media only screen and (max-width: 51.25em) {
  .banner-btn {
    padding: 2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .banner-btn {
    letter-spacing: .4rem;
    border: 1px solid var(--secondary-color--dark);
    padding: 1.7rem;
    font-size: 1.1rem;
  }
}

.banner-btn:link, .banner-btn:visited {
  transition: all 1s;
}

.banner-btn:hover {
  box-shadow: 0 0 0 0 #00000080, inset 6em 5em 0 0 var(--color5);
  color: var(--tertiary-color);
}

.toggle--checkbox {
  display: none;
  position: relative;
}

.glow, .toggle--label {
  transition: all .35s ease-in;
  display: flex;
  position: absolute;
  top: 20%;
  right: 10%;
}

@media only screen and (max-width: 75em) {
  .glow, .toggle--label {
    top: 25%;
  }
}

@media only screen and (max-width: 30em) {
  .glow, .toggle--label {
    top: 30%;
  }
}

.toggle--label {
  cursor: pointer;
  z-index: 5;
  width: 15rem;
  height: 15rem;
  border: 1px solid var(--yellow-border);
  background: var(--yellow-background);
  border-radius: 82px;
}

@media only screen and (max-width: 51.25em) {
  .toggle--label {
    width: 13rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .toggle--label {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .toggle--label {
    width: 7rem;
    height: 7rem;
  }
}

.glow {
  width: 17rem;
  height: 17rem;
  filter: blur(3rem);
  z-index: 4;
  z-index: 0;
  opacity: 1;
  background-image: linear-gradient(60deg, #fced1d, #f6ff75, #fff585);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 50%;
  animation: 4s ease-in-out infinite color-border;
}

@keyframes color-border {
  50% {
    background-position: 100%;
  }
}

@media only screen and (max-width: 51.25em) {
  .glow {
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .glow {
    width: 13rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .glow {
    width: 10rem;
    height: 10rem;
  }
}

.toggle--label:after {
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  width: 10px;
  height: 10px;
  opacity: 0;
  background: none;
  border-radius: 50%;
  transition: all .25s ease-in;
  position: absolute;
  top: 15px;
  left: 35px;
}

@media only screen and (max-width: 64em) {
  .toggle--label:after {
    width: 6px;
    height: 6px;
    box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -16px 9px 0 .2px;
    top: 15px;
    left: 35px;
  }
}

@media only screen and (max-width: 45em) {
  .toggle--label:after {
    width: 2px;
    height: 2px;
    box-shadow: var(--gray-dots) -12px 0 0 1px, var(--gray-dots) -14px 4px 0 .2px;
    top: 15px;
    left: 35px;
  }
}

.toggle--checkbox:checked + .toggle--label:after {
  opacity: 1;
  transition-delay: .35s;
}

.toggle--checkbox:checked + .toggle--label + .glow {
  opacity: 0;
  background: var(--white) !important;
  border-color: var(--gray-border) !important;
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--white) !important;
  border-color: var(--gray-border) !important;
}

.infos {
  height: 100rem;
}

@media only screen and (max-width: 80em) {
  .infos {
    width: 100%;
    height: 80rem;
  }
}

@media only screen and (max-width: 75em) {
  .infos {
    height: 130rem;
    height: 125rem;
  }
}

.border {
  height: 100rem;
  width: 80%;
  z-index: 0;
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 5px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 1.2rem 0;
  animation: 15s infinite alternate color-border;
  display: grid;
}

@media only screen and (max-width: 75em) {
  .border {
    height: 140rem;
  }
}

@media only screen and (max-width: 64em) {
  .border {
    height: 130rem;
  }
}

@media only screen and (max-width: 51.25em) {
  .border {
    height: 135rem;
  }
}

@media only screen and (max-width: 30em) {
  .border {
    width: 100%;
    margin: 0;
  }
}

.infos-content {
  border: 3px solid var(--secondary-color--dark);
  width: 98%;
  height: 98%;
  grid-column-gap: 3rem;
  grid-row-gap: 0;
  background-color: #fff;
  flex-direction: column;
  grid-template-rows: 90% 10%;
  grid-template-columns: 1fr 1fr;
  place-self: center;
  place-items: center;
  margin: 0 auto;
  padding: 5rem;
  display: grid;
}

@media only screen and (max-width: 75em) {
  .infos-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media only screen and (max-width: 90em) {
  .infos-content {
    grid-gap: 0;
    padding: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .infos-content {
    padding: 1rem;
  }
}

.infos-content__container {
  flex-direction: column;
  place-content: center;
  padding: 3rem;
  display: flex;
}

@media only screen and (max-width: 64em) {
  .infos-content__container {
    padding: 3rem;
  }
}

.infos-content a {
  margin-top: 3rem;
  font-size: 3rem;
  text-decoration: none;
}

.infos-content__flyer {
  color: var(--secondary-color--dark);
  font-family: chubby;
  text-decoration: none;
}

.infos-content__flyer:hover {
  background-image: linear-gradient(60deg, #5ff2f0, #5ff281, #abf25f, #f2cb5f, #f25f61, #f25fd0, #a65ff2, #5f86f2);
  -webkit-background-clip: text;
  color: #0000;
  transition: all 1s;
}

.infos-paragraph-highligted {
  margin: 0 !important;
}

@media only screen and (max-width: 75em) {
  .left, .right {
    width: 80%;
  }
}

ul.share-buttons {
  padding: 0;
  list-style: none;
}

ul.share-buttons li {
  border-radius: 50%;
  display: inline;
}

ul.share-buttons .sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.share-buttons {
  grid-column: 1 / -1;
  align-self: center;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 20em) {
  .share-buttons {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
}

.share-buttons li {
  margin-left: 3rem;
}

.share-buttons li img {
  border: 2px solid var(--secondary-color--dark);
  border-radius: 50%;
}

@media only screen and (max-width: 20em) {
  .share-buttons li img {
    width: 2rem;
    height: 2rem;
  }
}

.share-buttons li:first-child {
  margin-left: 0;
}

.programms {
  height: 200rem;
  background-color: var(--white);
  place-items: center;
  margin-bottom: 20rem;
  padding-top: 20rem;
  display: flex;
}

@media only screen and (max-width: 90em) {
  .programms {
    height: 180rem;
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .programms {
    height: 160rem;
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 20em) {
  .programms {
    height: 150rem;
    padding-top: 5rem;
  }
}

.programms__container {
  height: 200rem;
  width: 90%;
  flex-direction: column;
  place-content: center;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 90em) {
  .programms__container {
    height: 180rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .programms__container {
    height: 160rem;
  }
}

@media only screen and (max-width: 20em) {
  .programms__container {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.programms--text-area {
  width: 90%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
}

@media only screen and (max-width: 90em) {
  .programms--text-area {
    width: 100%;
  }
}

@media only screen and (max-width: 20em) {
  .programms--text-area a {
    font-size: 1.8rem !important;
  }
}

.btn-text:link, .btn-text:visited {
  color: var(--secondary-color--dark);
  padding: 1.5rem;
  font-family: kimperly-kg;
  font-size: 2.2rem;
  text-decoration: none;
  transition: all 1s;
  display: inline-block;
}

@media only screen and (max-width: 20em) {
  .btn-text:link, .btn-text:visited {
    font-size: 1rem;
  }
}

.btn-text:hover {
  background-image: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  -webkit-background-clip: text;
  color: #0000;
  transform: translateY(-2px);
}

.btn-text:active {
  transform: traslateY(-2px);
}

.sticky {
  z-index: 20000;
  width: 100%;
  opacity: .9;
  position: fixed;
  top: 0;
  right: 0;
}

.extramargin {
  padding: 40rem;
}

.navigation__container {
  grid-area: 1 / 1 / 2 / -1;
  transition: all, all .5s;
  display: grid;
}

.navbar, .navigation__container, .navbar-icon {
  height: 12rem;
}

@media only screen and (max-width: 50em) {
  .navbar, .navigation__container, .navbar-icon {
    height: 9rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .navbar, .navigation__container, .navbar-icon {
    height: 7rem;
  }
}

.navbar {
  background-color: var(--white);
  padding: 0 4rem;
  box-shadow: 0 1rem 3rem #02020210;
}

.navbar-icon {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  display: grid;
}

.navbar-logo {
  height: 100%;
  place-self: center flex-start;
  display: flex;
}

.navbar-logo a {
  display: flex;
}

.navbar-logo img {
  width: 10rem;
  height: 10rem;
  align-self: center;
}

@media only screen and (max-width: 50em) {
  .navbar-logo img {
    width: 7rem;
    height: 7rem;
  }
}

.navbar-hamburger {
  height: 100%;
  justify-content: flex-end;
  display: flex;
}

.navbar-hamburger--checkbox {
  display: none;
}

.navbar-hamburger--button {
  height: 5.3rem;
  width: 5.3rem;
  cursor: pointer;
  z-index: 20000;
  grid: 1px / -1px;
  align-self: center;
}

@media only screen and (max-width: 50em) {
  .navbar-hamburger--button {
    height: 4.3rem;
    width: 4.3rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .navbar-hamburger--button {
    height: 3.3rem;
    width: 3.3rem;
  }
}

.navbar-hamburger--icon {
  height: 5.3rem;
  width: 5.3rem;
  padding: .6rem;
  transition: all .5s;
  transform: translateY(16%);
}

@media only screen and (max-width: 50em) {
  .navbar-hamburger--icon {
    height: 4.3rem;
    width: 4.3rem;
    padding: .3rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .navbar-hamburger--icon {
    height: 2rem;
    width: 3.5rem;
    padding: 0;
  }
}

.navbar-hamburger--icons {
  background-color: var(--secondary-color--dark);
  height: 3px;
  width: 100%;
  z-index: 16000;
  border-radius: 5px;
  transition: all .5s;
  display: inline-block;
}

@media only screen and (max-width: 50em) {
  .navbar-hamburger--icons {
    height: 2px;
  }
}

@media only screen and (max-width: 25.875em) {
  .navbar-hamburger--icons {
    height: 1px;
  }
}

.navbar-hamburger--icons:before, .navbar-hamburger--icons:after {
  background-color: var(--secondary-color--dark);
  width: 100%;
  height: 3px;
  content: "";
  z-index: 16000;
  border-radius: 5px;
  transition: all .5s;
  display: inline-block;
  transform: translateY(.6rem);
}

@media only screen and (max-width: 50em) {
  .navbar-hamburger--icons:before, .navbar-hamburger--icons:after {
    height: 2px;
  }
}

@media only screen and (max-width: 25.875em) {
  .navbar-hamburger--icons:before, .navbar-hamburger--icons:after {
    height: 1px;
    transform: translateY(.2rem);
  }
}

.navbar-hamburger--checkbox:checked + .navbar-hamburger--button .navbar-hamburger--icons {
  transform: rotate(124deg)translateY(-15px);
}

.navbar-hamburger--checkbox:checked + .navbar-hamburger--button .navbar-hamburger--icons:before {
  transform: rotate(-234deg) !important;
}

.navbar-hamburger--checkbox:checked + .navbar-hamburger--button .navbar-hamburger--icons:after {
  background-color: #0000;
}

.navbar-hamburger--checkbox:checked ~ .nav-main {
  transform: translateX(0);
}

.nav-main {
  opacity: .9;
  background: var(--color3);
  width: 30%;
  height: 100vh;
  z-index: 10000;
  flex-direction: column;
  transition: all .9s;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100rem);
}

.nav {
  margin-top: 50%;
}

.nav-items {
  grid-gap: 2rem;
  display: grid;
}

@media only screen and (max-width: 37.5em) {
  .nav-items {
    grid-gap: 0rem;
  }
}

.nav-item {
  justify-self: center;
  margin: 0 auto 2rem;
  font-family: kimperly-kg, sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 15px;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 25.875em) {
  .nav-item {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 20em) {
  .nav-item {
    margin-bottom: 0;
  }
}

.nav-item:after {
  content: "";
  width: 0%;
  border-bottom: 3px dashed var(--color8);
  text-decoration: none;
  transition: all 1s;
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.nav-item--gallerie {
  margin: 2rem auto 0;
  font-family: kimperly-kg, sans-serif;
  line-height: 15px;
  list-style: none;
  display: flex;
  position: relative;
}

.nav-item--gallerie:after {
  content: "";
  width: 0%;
  border-bottom: 3px dashed var(--color8);
  text-decoration: none;
  transition: all 1s;
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.nav-item--gallerie:hover:after, .nav-item:hover:after {
  width: 100%;
}

.nav-links {
  height: 100vh;
  text-align: center;
  flex-direction: column;
  align-content: space-between;
  display: flex;
  overflow-y: scroll;
}

.nav-links a {
  letter-spacing: 2px;
  color: var(--secondary-color--dark);
  padding: .3em 0;
  font-size: 3.5em;
  text-decoration: none;
}

@media only screen and (max-width: 64em) {
  .nav-links a {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav-links a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 26.75em) {
  .nav-links a {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 25.875em) {
  .nav-links a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 20em) {
  .nav-links a {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=index.8d8029cf.css.map */
