<div class="container">
  <ul class="list" [ngClass]="{ 'list-bigScreen': !isSmallScreen }">
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        (click)="handleLinkClick('home')"
        >Home</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        (click)="handleLinkClick('gallery')"
        >Gallery</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        (click)="handleLinkClick('infos')"
        >Infos</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        (click)="handleLinkClick('aboutus')"
        >Unser Team</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        (click)="handleLinkClick('contacts')"
        >Kontakt & Anmeldung</a
      >
    </li>
  </ul>

  <div class="share-buttons" *ngIf="isSmallScreen">
    <app-share-links></app-share-links>
  </div>
</div>
