<div class="container">
  <ul class="list" [ngClass]="{ 'list-bigScreen': !isSmallScreen }">
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        routerLink="/home"
        (click)="scrollTo('home')"
        href="javascript:void(0)"
        >Home</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        routerLink="/home"
        (click)="scrollTo('gallery')"
        href="javascript:void(0)"
        >Gallery</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        routerLink="/home"
        (click)="scrollTo('infos')"
        href="javascript:void(0)"
        >Infos</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        routerLink="/home"
        (click)="scrollTo('aboutus')"
        href="javascript:void(0)"
        >Unser Team</a
      >
    </li>
    <li>
      <a
        class="list-item"
        [ngClass]="{ 'list-item-bigScreen': !isSmallScreen }"
        (click)="changeIcon()"
        routerLink="/home"
        (click)="scrollTo('register')"
        href="javascript:void(0)"
        >Kontakt & Anmeldung</a
      >
    </li>
  </ul>

  <div class="share-buttons" *ngIf="isSmallScreen">
    <app-share-links></app-share-links>
  </div>
</div>
