<div class="impressum-container">
  <h2>Haftungsausschluss und Datenschutz</h2>

  <h3>Online-Formulare</h3>
  <p>
    Durch die Eingabe personenbezogener Daten und Absendung dergleichen in einem
    Formular auf
    <a href="https://kiwo-uerkental.ch">https://kiwo-uerkental.ch</a> wird
    folgenden Anmeldebedingungen zugestimmt:
  </p>
  <ol>
    <li>Die Daten werden gespeichert.</li>
    <li>Die Datenbank wird intern und vertraulich geführt.</li>
    <li>Die Daten werden nirgendwo veröffentlicht.</li>
    <li>
      Vertreter der Kinderwoche können Personen über die angegebenen
      Kontaktdaten kontaktieren.
    </li>
    <li>Die Löschung der Daten kann jederzeit verlangt werden.</li>
  </ol>

  <h3>Inhalte</h3>
  <p>
    Die Inhalte unserer Seiten wurden mit der grösstmöglichen Sorgfalt erstellt.
    Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit,
    Vollständigkeit oder Qualität der bereitgestellten Informationen auf
    <a href="https://kiwo-uerkental.ch">https://kiwo-uerkental.ch</a>.
    Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder
    ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der
    dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und
    unvollständiger Informationen verursacht wurden, sind grundsätzlich
    ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches
    oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend
    und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der
    Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu
    ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig
    einzustellen.
  </p>
  <h3>Verweise und Links</h3>
  <p>
    Bei direkten oder indirekten Verweisen auf fremde Webseiten («Hyperlinks»),
    die außerhalb des Verantwortungsbereiches des Autors von
    <a href="https://kiwo-uerkental.ch">https://kiwo-uerkental.ch</a> liegen,
    würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten,
    in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich
    und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu
    verhindern. Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der
    Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar
    waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die
    Urheberschaft der verlinkten/verknüpften Seiten hat der Autor keinerlei
    Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen
    Inhalten aller verlinkten/verknüpften Seiten, die nach der Linksetzung
    verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen
    Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in
    vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen,
    Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt
    externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder
    unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung
    oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet
    allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige,
    der über Links auf die jeweilige Veröffentlichung lediglich verweist.
  </p>
  <h3>Allgemeiner Datenschutz</h3>
  <p>
    Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe
    persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften)
    besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf
    ausdrücklich freiwilliger Basis. Die Nutzung der im Rahmen des Impressums
    oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie
    Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte
    zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht
    gestattet. Rechtliche Schritte gegen die Versender von sogenannten
    Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.
  </p>
  <h3>Verarbeitung personenbezogener Daten</h3>

  <li>Wie verwenden wir Log-Dateien?</li>
  <p>
    Wie bei jeder Website erhebt unser Server automatisch und temporär Angaben
    in den Server-Logfiles, die durch den Browser übermittelt werden, sofern
    dies nicht von Ihnen deaktiviert wurde. Wenn Sie unsere Website betrachten
    möchten, erheben wir die folgenden Daten, die für uns technisch erforderlich
    sind, um Ihnen unsere Website anzuzeigen und Stabilität und Sicherheit zu
    gewährleisten:
  </p>
  <ul>
    <li>IP-Adresse des anfragenden Rechners</li>
    <li>Dateianfrage des Clients</li>
    <li>den http-Antwort-Code</li>
    <li>die Internet-Site, von der aus Sie uns besuchen (Referrer-URL)</li>
    <li>die Uhrzeit der Serveranfrage</li>
    <li>Browsertyp und -version</li>
    <li>verwendetes Betriebssystem des anfragenden Rechners</li>
  </ul>
  <p>
    Eine personenbezogene Auswertung dieser Server-Logfile-Daten findet nicht
    statt. Sofern vorbezeichnete Informationen personenbezogene Daten enthalten
    (insbesondere die IP-Adresse), erfolgt die Erhebung auf der Rechtsgrundlage
    von Art. 6 Abs. 1 lit. f DSGVO (<a
      href="https://dsgvo-gesetz.de/art-6-dsgvo"
      >https://dsgvo-gesetz.de/art-6-dsgvo</a
    >).
  </p>

  <li>Zu welchen Zwecken erfolgt die Datenbearbeitung der Log-Dateien?</li>
  <p>
    Unser berechtigtes Interesse liegt dabei darin, das ordnungsgemässe
    Funktionieren unserer Website sicherzustellen. Sofern Sie weitere
    Informationen hinsichtlich der nach Art. 6 Abs. 1 lit. f DSGVO
    durchzuführenden Interessenabwägung benötigen, kontaktieren Sie uns bitte
    unter den im Impressum angegebenen Kontaktdaten. Die Erhebung der vorstehend
    genannten Daten ist für die Bereitstellung der Funktionen unserer Website
    erforderlich.
  </p>
  <li>Wie lange werden die Daten gespeichert?</li>
  <p>
    Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
    Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur
    Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung
    beendet ist.
  </p>

  <h3>Cookies</h3>
  <p>
    Bei Cookies handelt es sich um kleine Textdateien, die lokal im
    Zwischenspeicher Ihres Browsers gespeichert werden. Nachfolgend aufgezählte
    Cookies werden von uns nur gemäss Art. 6 Abs. 1 lit. f DSGVO verwendet, um
    die Durchführung bzw. Bereitstellung des von Ihnen genutzten Dienstes zu
    gewährleisten. Unser berechtigtes Interesse an der Datenverarbeitung liegt
    dabei darin, die Website-Einstellungen für das von Ihnen verwendete Endgerät
    zu optimieren und die Benutzeroberflächen anzupassen. Sofern Sie weitere
    Informationen hinsichtlich der nach Art. 6 Abs. 1 lit. f DSGVO
    durchzuführenden Interessenabwägung benötigen, kontaktieren Sie uns bitte
    unter den im Impressum angegebenen Kontaktdaten.
  </p>
  <h3>Eingebettete Inhalte</h3>
  <p>
    Beiträge auf dieser Website können eingebettete Inhalte beinhalten (z. B.
    Videos, Bilder, Beiträge etc.). Eingebettete Inhalte von anderen Websites
    verhalten sich exakt so, als ob der Besucher die andere Website besucht
    hätte. Diese Websites können Daten über Sie sammeln, Cookies benutzen,
    zusätzliche Tracking-Dienste von Dritten einbetten und Ihre Interaktion mit
    diesem eingebetteten Inhalt aufzeichnen, inklusive Ihrer Interaktion mit dem
    eingebetteten Inhalt, falls Sie ein Konto haben und auf dieser Website
    angemeldet sind.
  </p>
  <h3>Rechtswirksamkeit dieses Haftungsausschlusses</h3>
  <p>
    Dieser Haftungsausschluss ist als Teil dieses Internetangebotes zu
    betrachten. Sofern Teile oder einzelne Formulierungen dieses Textes der
    geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen
    sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer
    Gültigkeit davon unberührt.
  </p>
</div>
