<div id="contacts" class="contacts">
  <div class="rows">
    <h2>Kinderwoche Uerkental</h2>
    <div class="list">
      <ul>
        <li>
          <p>Reformierte Kirche Uerkheim</p>
        </li>
        <li>
          <p>Dorfstrasse 44</p>
        </li>
        <li>
          <p>CH - 4813 Uerkheim</p>
        </li>
        <li>
          <p>
            <a href="mailto:anmeldung@kiwo-uerkental.ch"></a>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="rows">
    <h2>Hier findest du uns auch</h2>
    <div class="list">
      <ul class="icon">
        <li>
          <a
            href="https://kguerkheim.ch/angebote/kinder/"
            class="text-white"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Mehr über die Chile Uerkheim"
          >
            <fa-icon [icon]="faFacebook"></fa-icon>
            <p>Chile Uerkheim</p>
          </a>
        </li>
      </ul>
      <ul class="icon">
        <li>
          <a
            href="https://emk-bottenwil.ch/"
            class="text-white"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Mehr über die Chile Bottenwil"
          >
            <fa-icon [icon]="faHouse"></fa-icon>
            <p>Chile Bottenwil</p>
          </a>
        </li>
      </ul>
      <ul class="icon">
        <li>
          <a
            href="https://www.facebook.com/kguerkheim/"
            class="text-white"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Mehr über die Chile Uerkheim-Facebookseite"
          >
            <fa-icon [icon]="faHouse"></fa-icon>
            <p>Facebook</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="rows">
    <h2>Sitemap</h2>
    <div class="list">
      <ul>
        <li>
          <a (click)="handleLinkClick('home')">Home</a>
        </li>
        <li>
          <a (click)="handleLinkClick('gallery')">Gallery</a>
        </li>
        <li>
          <a (click)="handleLinkClick('infos')">Infos</a>
        </li>
        <li>
          <a (click)="handleLinkClick('aboutus')">Unser Team</a>
        </li>
        <li>
          <a (click)="handleLinkClick('contacts')">Kontakt & Anmeldung</a>
        </li>
        <li>
          <a (click)="handleLinkClickTo('/impressum', '')"
            >Datenschutzerklärung</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
