@import "../../../styles.scss";

.infos {
  @include section;
  padding: 0;
}

.infos-content {
  @include container;
  flex-direction: column;
  background-color: $sand;
  text-align: center;
  padding: 1rem;

  &-bigScreen {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  & .btn {
    @include text-btn;
    margin-top: 0.5rem;
  }

  & .btn a {
    color: $blue;
    font-weight: 400;
  }
  & .btn:hover {
    @include btn-text-hover;
  }
}
.left,
.right,
.center {
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  & h3 {
    @include font-p-small;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  & p,
  a {
    @include font-p-small;
    justify-self: center;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  & h2 {
    @include font-h3;
    margin-bottom: 1rem;
  }
}
.center {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &-bigScreen {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  & a {
    @include text-btn;
  }
  & a:hover {
    @include btn-text-hover;
  }
}
app-share-links {
  z-index: 20;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
