// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kiwo-frontend-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$kiwo-frontend-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kiwo-frontend-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kiwo-frontend-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $kiwo-frontend-primary,
      accent: $kiwo-frontend-accent,
      warn: $kiwo-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kiwo-frontend-theme);

@import "./styles/colors";
@import "./styles/global";
@import "./styles/mixins";
@import "./styles/queries";

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif !important;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #fff;
  font-size: 62.5%;
  line-height: 1;
  max-width: 140rem;
  margin: 0 auto;
  overflow-x: hidden;
  color: $black;
  @include respond(large-phone) {
    font-size: 80.5%;
  }
  @include respond(large-phone, landscape) {
    font-size: 80.5%;
  }
  @include respond(tablet) {
    font-size: 90.5%;
  }
  @include respond(tablet, landscape) {
    font-size: 90.5%;
  }
  @include respond(desktop) {
    font-size: 90.5%;
  }
}
