/* ------------------------ Home ------------------------ */
#home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  position: relative;
}

.bg-video__content {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  // position: absolute; //if doenst plays in iOs safari
}

.hiddenClass {
  display: none;
}

.text-area {
  margin-top: 5rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
  align-items: center;

  @include respond(tab-land-bg) {
    width: 80%;
  }

  @include respond(phonexs) {
    width: 100%;
  }
}

.banner-btn {
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  padding: 2.5rem 3.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--secondary-color--dark);
  background-color: transparent;
  color: var(--secondary-color--dark);
  box-shadow: 0.3em 0.3em 0 0 var(--color8), inset 0.3em 0.3em 0 0 var(--color5);

  @include respond(phone) {
    padding: 0.6rem 2rem;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
  }
  @include respond(smallest) {
    padding: 0.4rem 1.5rem;
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
  }
}
.banner-btn:link,
.banner-btn:visited {
  transition: all 1s;
}

.banner-btn:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5), inset 6em 5em 0 0 var(--color5);
  color: var(--tertiary-color);
}

//Day/Night Switcher
.toggle--checkbox {
  display: none;
  position: relative;
}

.toggle--label {
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 70px;
  right: 90px;
  z-index: 5;
  transition: all 350ms ease-in;
  width: 150px;
  height: 150px;
  border: 1px solid var(--yellow-border);
  border-radius: 82px;
  background: var(--yellow-background);

  @include respond(tab-landXl) {
    width: 110px;
    height: 110px;
    top: 60px;
  }

  @include respond(phoneAIR) {
    width: 80px;
    height: 80px;
    top: 40px;
    right: 60px;
  }
  @include respond(phonemiddle) {
    width: 50px;
    height: 50px;
  }
  @include respond(phonexxs) {
    top: 20px;
    right: 30px;
  }
  @include respond(minimumSE) {
    right: 20px;
    width: 30px;
    height: 30px;
  }
  @include respond(smallest) {
    top: 5px;
  }
}

.glow {
  filter: blur(2rem);
  display: flex;
  position: absolute;
  top: 55px;
  right: 70px;
  z-index: 5;
  transition: all 350ms ease-in;
  width: 190px;
  height: 190px;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: 0 50%;
  border-radius: 50%;
  animation: color-border 5s linear infinite;
  z-index: 0;
  opacity: 1;
  background-image: linear-gradient(
    60deg,
    hsl(59, 100%, 55%),
    hsl(0, 0%, 100%)
  );

  @keyframes color-border {
    50% {
      background-position: 100% 50%;
    }
  }

  @include respond(phone) {
    width: 90%;
  }

  @include respond(smallest) {
    width: 100%;
  }

  @include respond(tab-landXl) {
    top: 35px;
    right: 65px;

    width: 160px;
    height: 160px;
  }
}

.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  top: 15px;
  left: 35px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;

  @include respond(tab-port) {
    top: 15px;
    left: 35px;
    width: 6px;
    height: 6px;
    box-shadow: var(--gray-dots) -13px 0 0 2px,
      var(--gray-dots) -16px 9px 0 0.2px;
  }

  @include respond(phonexlmiddle) {
    top: 15px;
    left: 35px;
    width: 2px;
    height: 2px;
    box-shadow: var(--gray-dots) -12px 0 0 1px,
      var(--gray-dots) -14px 4px 0 0.2px;
  }
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}

.toggle--checkbox:checked + .toggle--label + .glow {
  background: var(--white) !important;
  border-color: var(--gray-border) !important;
  opacity: 0;
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--white) !important;
  border-color: var(--gray-border) !important;
}
