/* ----------------------- Infos ------------------------- */

.infos {
  border-radius: 5px;
  border: 3px solid var(--secondary-color--dark);
  justify-self: center;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  width: 98%;
  height: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90% 10%;
  grid-column-gap: 3rem;
  grid-row-gap: 0;
  padding: 5rem;
  flex-direction: column;
  background-color: #fff;
  @include respond(tab-land) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include respond(pc-small) {
    padding: 2rem;
    grid-gap: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 3rem;
    @include respond(tab-port) {
      padding: 3rem;
    }
    @include respond(phone) {
      padding: 0.5rem;
    }
  }

  & a {
    text-decoration: none;
    margin-top: 3rem;
    font-size: 3rem;

    @include respond(smallest) {
      font-size: 1rem;
    }
  }

  &__flyer {
    font-family: chubby;
    color: var(--secondary-color--dark);
    text-decoration: none;
    &:hover {
      transition: all 1s;
      background-image: linear-gradient(
        60deg,
        hsl(179, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(224, 85%, 66%)
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.infos-paragraph-highligted {
  margin: 0 !important;
}

//Social media

ul.share-buttons {
  list-style: none;

  padding: 0;
}

ul.share-buttons li {
  display: inline;

  border-radius: 50%;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;

  height: 1px;
  width: 1px;
  overflow: hidden;
}

.share-buttons {
  margin: 0 auto;
  grid-column: 1/-1;

  @include respond(smallest) {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  display: flex;
  align-self: center;
}
.share-buttons li {
  margin-left: 3rem;

  & img {
    border: 2px solid var(--secondary-color--dark);
    background-color: aqua;
    padding: 1px;
    border-radius: 50%;

    @include respond(smallest) {
      width: 2rem;
      height: 2rem;
    }
  }
}
.share-buttons li:first-child {
  margin-left: 0;
}
