/* ----------------------- Infos ------------------------- */

.infos {
  height: auto;
  align-items: center;
  @include respond(MacBook13) {
  }
}

.border {
  box-shadow: rgba(108, 108, 111, 0.313) 0px 7px 29px 0px;
  height: auto;
  display: grid;
  border-radius: 5px;
  margin: 0 auto;
  width: auto;
  grid-template-columns: 1fr;
  padding: 1.2rem 0 1.2rem 0;
  margin: 5rem;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: 0 50%;
  animation: color-border 15s alternate infinite;
  z-index: 0;
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );

  @keyframes color-border {
    50% {
      background-position: 100% 50%;
    }
  }
}

.infos-content {
  text-align: center;
  border: 0.5px solid rgba(49, 47, 47, 0.238);
  margin: 0 auto;
  align-items: center;
  width: 98%;
  height: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% 15% 15%;
  grid-gap: 3rem;
  padding: 5rem;
  flex-direction: column;
  background-color: #fff;

  @include respond(tab-land-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  @include respond(MacBookAir) {
    padding: 5rem;
  }
  @include respond(IPadAir) {
    padding: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 3rem;

    @include respond(IpadPro12) {
      padding: 3rem;
    }
  }

  &__flyer {
    font-family: chubby;
    color: var(--secondary-color--dark);
    text-decoration: none;
    &:hover {
      transition: all 1s;
      background-image: linear-gradient(
        60deg,
        hsl(179, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(224, 85%, 66%)
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.infos-paragraph-highligted {
  margin: 0 !important;
}

//Social media

ul.share-buttons li {
  display: inline;
  border-radius: 50%;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.share-buttons {
  margin: 0 auto;
  grid-column: 1/-1;
  list-style: none;

  @include respond(IPhone5) {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  display: flex;
  align-self: center;
}
.share-buttons li {
  margin-left: 3rem;

  & img {
    border: 1px solid var(--secondary-color--dark);
    border-radius: 50%;

    @include respond(IPhone5) {
      width: 2rem;
      height: 2rem;
    }
  }
}
.share-buttons li:first-child {
  margin-left: 0;
}
.infos__container--center {
  width: 60%;
  margin: 0 auto;
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  & .header--h2 {
    margin-bottom: 1rem;
  }
  & a {
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  & h2 a {
    margin: 0 !important;
    padding: 0 !important;
  }
  & .paragraph-regular {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}
