/* ----------------------- Infos ------------------------- */

.infos {
  height: 100rem;
  @include respond(MacBook13) {
    width: 100%;
    height: 80rem;
  }
  @include respond(tab-land-small) {
    height: 130rem;
  }
  @include respond(tab-land-small) {
    height: 125rem;
  }
}

.border {
  height: 100rem;
  display: grid;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: 1fr;
  padding: 1.2rem 0 1.2rem 0;
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: 0 50%;
  animation: color-border 15s alternate infinite;
  z-index: 0;
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );

  @keyframes color-border {
    50% {
      background-position: 100% 50%;
    }
  }

  @include respond(tab-land-small) {
    height: 140rem;
  }
  @include respond(IpadPro12) {
    height: 130rem;
  }
  @include respond(IPadAir) {
    height: 135rem;
  }
  @include respond(AmazonKindle7) {
    margin: 0;
    width: 100%;
  }
}

.infos-content {
  border: 3px solid var(--secondary-color--dark);
  justify-self: center;
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  width: 98%;
  height: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90% 10%;
  grid-column-gap: 3rem;
  grid-row-gap: 0;
  padding: 5rem;
  flex-direction: column;
  background-color: #fff;

  @include respond(tab-land-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  @include respond(MacBookAir) {
    padding: 5rem;
    grid-gap: 0;
  }
  @include respond(SamsungGalaxyTab2) {
    padding: 1rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 3rem;

    @include respond(IpadPro12) {
      padding: 3rem;
    }
  }

  & a {
    text-decoration: none;
    margin-top: 3rem;
    font-size: 3rem;
  }

  &__flyer {
    font-family: chubby;
    color: var(--secondary-color--dark);
    text-decoration: none;
    &:hover {
      transition: all 1s;
      background-image: linear-gradient(
        60deg,
        hsl(179, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(224, 85%, 66%)
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.infos-paragraph-highligted {
  margin: 0 !important;
}
.left,
.right {
  @include respond(tab-land-small) {
    width: 80%;
  }
}

//Social media

ul.share-buttons {
  list-style: none;

  padding: 0;
}

ul.share-buttons li {
  display: inline;

  border-radius: 50%;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;

  height: 1px;
  width: 1px;
  overflow: hidden;
}

.share-buttons {
  margin: 0 auto;
  grid-column: 1/-1;

  @include respond(IPhone5) {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  display: flex;
  align-self: center;
}
.share-buttons li {
  margin-left: 3rem;

  & img {
    border: 2px solid var(--secondary-color--dark);
    border-radius: 50%;

    @include respond(IPhone5) {
      width: 2rem;
      height: 2rem;
    }
  }
}
.share-buttons li:first-child {
  margin-left: 0;
}
