/* ------------- Navigation ---------------------- */

.sticky {
  position: fixed;
  z-index: 20000;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.9;
}
.extramargin {
  padding: 40rem;
}
.navigation__container {
  transition: all, 0.5s;
}

.navbar,
.navigation__container,
.navbar-icon {
  height: 14rem;
  @include respond(SamsungGalaxyTab3) {
    height: 12rem;
  }
  @include respond(IPhone12) {
    height: 8.8rem;
  }
}
.navbar {
  padding: 0rem 4rem;
  background-color: var(--white);
  box-shadow: 0 1rem 3rem rgba(2, 2, 2, 0.063);
}
.navbar-icon {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.navbar-logo {
  height: 100%;
  display: flex;
  justify-self: flex-start;
  align-self: center;

  & a {
    display: flex;
  }
  & img {
    align-self: center;
    width: 10rem;
    height: 10rem;

    @include respond(SamsungGalaxyTab3) {
      width: 7rem;
      height: 7rem;
    }
  }
}

.navbar-hamburger {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar-hamburger--checkbox {
  display: none;
}
.navbar-hamburger--button {
  height: 5.3rem;
  width: 5.3rem;
  grid: 1/-1;
  cursor: pointer;
  align-self: center;
  z-index: 20000;
}
.navbar-hamburger--icon {
  padding: 0.6rem;
  transform: translateY(16%);
  transition: all 0.5s;
  height: 5.3rem;
  width: 5.3rem;
}
.navbar-hamburger--icons {
  background-color: var(--secondary-color--dark);
  height: 3.5px;
  width: 100%;
  transition: all 0.5s;
  z-index: 16000;
  border-radius: 5px;
  display: inline-block;
  @include respond(SamsungGalaxyTab3) {
    height: 3px;
  }
  @include respond(IPhone12) {
    height: 2.5px;
  }
  @include respond(IPhone8) {
    height: 2px;
  }
}

.navbar-hamburger--icons::before,
.navbar-hamburger--icons::after {
  background-color: var(--secondary-color--dark);
  width: 100%;
  height: 3.5px;
  content: "";
  transition: all 0.5s;
  transform: translateY(0.6rem);
  z-index: 16000;
  border-radius: 5px;
  display: inline-block;
  @include respond(SamsungGalaxyTab3) {
    height: 3px;
  }
  @include respond(IPhone12) {
    height: 2.5px;
  }
  @include respond(IPhone8) {
    height: 2px;
  }
}

.navbar-hamburger--checkbox:checked
  + .navbar-hamburger--button
  .navbar-hamburger--icons {
  transform: rotate(124deg) translateY(-15px);
}

.navbar-hamburger--checkbox:checked
  + .navbar-hamburger--button
  .navbar-hamburger--icons::before {
  transform: rotate(-234deg) !important;
}
.navbar-hamburger--checkbox:checked
  + .navbar-hamburger--button
  .navbar-hamburger--icons::after {
  background-color: transparent;
}
.navbar-hamburger--checkbox:checked ~ .nav-main {
  transform: translateX(0);
}

.nav-main {
  opacity: 0.9;
  transform: translateX(100rem);
  transition: all 0.9s;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: var(--color3);
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  z-index: 10000;
}
.nav {
  margin-top: 50%;

  &-items {
    display: grid;
    grid-gap: 2rem;
    @include respond(SamsungGalaxyTab2) {
      grid-gap: 0rem;
    }
  }
  &-item {
    position: relative;
    display: flex;
    margin: 0 auto;
    line-height: 15px;
    margin-bottom: 2rem;
    justify-self: center;
    font-family: kimperly-kg, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    @include respond(IPhone8) {
      margin-bottom: 1rem;
    }
    @include respond(IPhone5) {
      margin-bottom: 0rem;
    }

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      text-decoration: none;
      left: 0;
      width: 0%;
      bottom: -10px;
      transition: 1s;
      border-bottom: 3px dashed var(--color8);
    }

    &--gallerie {
      position: relative;
      display: flex;
      margin: 0 auto;
      line-height: 15px;
      margin-top: 2rem;
      font-family: kimperly-kg, sans-serif;
      list-style: none;
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        text-decoration: none;
        left: 0;
        width: 0%;
        bottom: -10px;
        transition: 1s;
        border-bottom: 3px dashed var(--color8);
      }
    }
    &--gallerie:hover:after {
      width: 100%;
    }
  }
  &-item:hover:after {
    width: 100%;
  }
}
.nav-links {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  overflow-y: scroll;

  a {
    font-size: 3.5em;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--secondary-color--dark);
    padding: 0.3em 0;
    @include respond(IpadPro12) {
      font-size: 2.5rem;
    }
    @include respond(SamsungGalaxyTab2) {
      font-size: 2rem;
    }
    @include respond(IPhone12) {
      font-size: 1.8rem;
    }
    @include respond(IPhone8) {
      font-size: 1.6rem;
    }
    @include respond(IPhone5) {
      font-size: 1.4rem;
    }
  }
}
