<form
  class="registration"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  enctype="multipart/form-data"
>
  <div class="form-left">
    <div class="form-input" *ngFor="let label of labelsArray; let i = index">
      <ng-container [ngSwitch]="label">
        <ng-container *ngSwitchCase="'geburtsdatum'">
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Geburtsdatum: MM/DD/YYYY"
              formControlName="geburtsdatum"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint></mat-hint>
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'nachricht'">
          <mat-form-field>
            <mat-label>{{ label | titlecase }} </mat-label>
            <textarea matInput formControlName="nachricht"></textarea>
          </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-form-field>
            <mat-label>{{ label | titlecase }}</mat-label>
            <input matInput formControlName="{{ label }}" />
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="form-right">
    <div class="form-checkbox-container">
      <div>
        <p>Ich kann an einem oder mehreren Halbtagen mithelfen:</p>
      </div>
      <div class="form-checks">
        <div class="form-check-container" *ngFor="let day of daysArray">
          <label>{{ day | titlecase }}</label>
          <mat-checkbox [formControlName]="day"></mat-checkbox>
        </div>
      </div>
    </div>

    <div class="form-option-container">
      <div
        class="form-option"
        *ngFor="let option of optionsArray; let i = index"
      >
        <mat-form-field>
          <mat-label *ngIf="option == 'fahrdienst'">
            Wir benötigen Fahrdienst ab Gemeindeparkplatz Bottenwil.</mat-label
          >
          <mat-label *ngIf="option == 'zvieri'">
            Wir bringen etwas zum Zvieri mit.</mat-label
          >
          <mat-label *ngIf="option == 'fotoserlaubnis'"
            >Wir sind mit der Veröffentlichung von Fotos unseres Kindes
            einverstanden.</mat-label
          >
          <mat-select [formControlName]="option">
            <mat-option value="ja">Ja</mat-option>
            <mat-option value="nein">Nein</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-validator">
      <div class="signature">
        <mat-checkbox formControlName="verbindlich">
          Ich habe die Bedingungen zur Kenntnis genommen und bin damit
          einverstanden.</mat-checkbox
        >
        <p>
          Wir weisen darauf hin, dass die Anmeldung verbindlich ist. Bitte
          bestätige die Richtigkeit der Angaben mit deiner Unterschrift.
        </p>

        <canvas id="signatureCanvas" #signatureCanvas></canvas>

        <div class="btn-container">
          <button class="btn submit-btn" type="submit ">Absenden</button>
          <button
            class="btn clear-btn"
            type="button"
            (click)="clearSignature()"
          >
            Löschen
          </button>
        </div>
        <div *ngIf="showStatus" class="status">
          <p *ngIf="serverStatus">
            Vielen Dank für deine Nachricht. Wir werden dich in Kürze
            kontaktieren!
          </p>
          <p *ngIf="!serverStatus">
            Oops! Es gab ein Problem beim Absenden deines Formulars. Bitte
            versuche es erneut!
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
