@import "../../../styles.scss";

.registration {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 0.5rem;
  &-bigScreen {
    @include gridContact;
  }
}

.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  & mat-form-field {
    width: 100%;
    & mat-label,
    input {
      @include font-p-small;
      color: rgba(0, 0, 0, 0.562);
    }
  }
}
.form-left {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  padding: 2rem 0;

  & .form-input {
    height: 4rem;
    margin: 1rem;
  }

  .mat-form-field-wrapper {
    display: flex;
  }
}
.form-right {
  justify-content: space-between;
}

.form-checkbox-container {
  display: flex;
  flex-direction: column;

  & p {
    margin-bottom: 0.5rem;
    @include font-p-small;
  }
  .form-checks {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;

    & label {
      @include font-p-small;
    }

    & .mdc-checkbox {
      padding: 1rem;
    }
  }
}
.form-option-container {
  display: flex;
  flex-direction: column;
  @include font-p-small;
}

canvas {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  margin: 3rem auto;
}

.signature,
.status {
  @include font-p-small;
}

.conditions {
  display: flex;
  flex-direction: row;
}

.btn-container {
  display: flex;
  flex-direction: row;
}
.submit-btn {
  @include btn(#ff4081);
}
.submit-btn:disabled {
  @include btn(rgba(204, 143, 164, 0.875));
  &:hover {
    cursor: not-allowed;
  }
}
.clear-btn {
  margin-left: 0.5rem;
  @include btn(#f44336);
}
.btn:hover,
.submit-btn:hover {
  @include btn-hover;
}
.form-validator {
  display: flex;
  flex-direction: column;
}
.status {
  margin-top: 2rem;
}
.status-invalid {
  font-weight: 600;
  color: #f44336;
}
