<form
  id="register"
  class="registration"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  enctype="multipart/form-data"
  [ngClass]="{ 'registration-bigScreen': !isSmallScreen }"
>
  <div class="form-left">
    <div class="form-input">
      <mat-form-field>
        <mat-label>{{ "Name des Kindes" }} </mat-label>
        <input
          matInput
          id="anschrift"
          formControlName="anschrift"
          autocomplete="off"
        />
      </mat-form-field>
      <div *ngFor="let label of labelsArray; let i = index">
        <ng-container [ngSwitch]="label">
          <ng-container *ngSwitchCase="'geburtsdatum'">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Geburtsdatum:"
                formControlName="geburtsdatum"
                autocomplete="birthdate"
                id="geburtsdatum"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint></mat-hint>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'nachricht'">
            <mat-form-field>
              <mat-label>{{ label | titlecase }} </mat-label>
              <textarea
                matInput
                id="nachricht"
                formControlName="nachricht"
                autocomplete="off"
              ></textarea>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-form-field>
              <mat-label>{{ label | titlecase }}</mat-label>
              <input
                matInput
                formControlName="{{ label }}"
                id="{{ label }}"
                autocomplete="on"
              />
            </mat-form-field>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="form-right">
    <div class="form-checkbox-container">
      <div>
        <p>Ich kann an einem oder mehreren Halbtagen mithelfen:</p>
      </div>
      <div class="form-checks">
        <div class="form-check-container" *ngFor="let day of daysArray">
          <label>{{ day | titlecase }}</label>
          <mat-checkbox [formControlName]="day"></mat-checkbox>
        </div>
      </div>
    </div>

    <div class="form-option-container">
      <div
        class="form-option"
        *ngFor="let option of optionsArray; let i = index"
      >
        <mat-form-field>
          <mat-label *ngIf="option == 'fahrdienst'">
            Wir benötigen Fahrdienst ab Gemeindeparkplatz Bottenwil.</mat-label
          >
          <mat-label *ngIf="option == 'zvieri'">
            Wir bringen etwas zum Zvieri mit.</mat-label
          >
          <mat-label *ngIf="option == 'fotoserlaubnis'"
            >Wir sind mit der Veröffentlichung von Fotos unseres Kindes
            einverstanden.</mat-label
          >
          <mat-select [formControlName]="option">
            <mat-option value="Ja">Ja</mat-option>
            <mat-option value="Nein">Nein</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-validator">
      <div class="signature">
        <p class="status-invalid" *ngIf="!form.get('verbindlich')?.value">
          Bitte bestätige die Richtigkeit der Angaben.
        </p>
        <mat-checkbox formControlName="verbindlich">
          Ich bestätige die Richtigkeit der Angaben.</mat-checkbox
        >

        <p>
          Die Anmeldung ist verbindlich. Bitte bestätige sie mit deiner
          Unterschrift.
        </p>

        <canvas id="signatureCanvas" #signatureCanvas></canvas>

        <div class="btn-container">
          <button
            class="btn submit-btn"
            type="submit"
            [disabled]="!form.valid || !form.get('verbindlich')?.value"
          >
            Absenden
          </button>
          <button
            class="btn clear-btn"
            type="button"
            (click)="clearSignature()"
          >
            Löschen
          </button>
        </div>
        <div *ngIf="showStatus" class="status">
          <p *ngIf="serverStatus">
            Vielen Dank für deine Nachricht. Wir werden dich in Kürze
            kontaktieren!
          </p>
          <p *ngIf="!serverStatus">
            Oops! Es gab ein Problem beim Absenden deines Formulars. Bitte
            versuche es erneut!
          </p>
        </div>
        <!-- <div *ngIf="!showStatus" class="status status-invalid">
          <p *ngIf="errorMessage">{{ errorMessage }}</p>
        </div> -->
      </div>
    </div>
  </div>
</form>
