<div
  [ngClass]="{ 'gallery-bigScreen': !isSmallScreen }"
  id="gallery"
  class="gallery"
  (click)="closeFullScreenImage(); $event.stopPropagation()"
>
  <div class="gallery-container">
    <!-- Slideshow Main Images -->
    <div class="main-image-section" id="gallery">
      <img
        *ngFor="let img of randomImgs; let i = index"
        id="main-view"
        class="main-view"
        alt="Pictures from KIWO"
        src="{{ img }}"
        [style.opacity]="i === currentIndex ? opacity : 0"
        [style.z-index]="i === currentIndex ? 1 : 0"
        [hidden]="i !== currentIndex"
        [style.transition-duration]="transitionDuration / 1000 + 's'"
        (click)="openFullScreenImage(i); $event.stopPropagation()"
      />

      <div class="caption-container">
        <div id="caption">This is the caption</div>
        <div id="info">This is info message</div>
      </div>
    </div>
    <!-- Thumbnails -->
    <div id="thumbnails" class="thumbnails">
      <img
        *ngFor="let img of randomImgs; let i = index"
        src="{{ img }}"
        alt=""
        (click)="changeImgOnClick(i)"
      />
    </div>
    <!-- Full-Screen Image Overlay -->
    <div
      class="full-screen-overlay"
      *ngIf="fullScreenImageIndex !== null"
      [ngClass]="{ 'full-screen-overlay-bigScreen': !isSmallScreen }"
    >
      <div
        [ngClass]="{ 'full-screen-image-container-bigScreen': !isSmallScreen }"
        class="full-screen-image-container"
      >
        <img [src]="randomImgs[fullScreenImageIndex]" alt="Full-Screen Image" />
        <div class="close-button" (click)="closeFullScreenImage()">Close</div>
      </div>
    </div>
  </div>
</div>
