/* ------------- Colors ---------------------- */
$sand: #fcfaf7;
$sand-dark: rgb(236, 229, 219);
$blue: #00b0fb;
$red: rgb(242, 95, 97);
$yellow: #f2ff35;
$black: #1b1007;
$purple: #ff4081;

.highligted-bunt {
  background-image: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 56%, 56%),
    hsl(89, 57%, 57%),
    hsl(134, 50%, 53%),
    hsl(179, 50%, 54%)
  );
  color: transparent;
  background-clip: text;
}
