<div class="container" id="about">
  <div class="text">
    <h2>
      In der Kinderwoche erleben wir zusammen eine
      <span class="highligted-bunt programms__span"> Geschichte </span>mit allen
      <span class="highligted-bunt">Sinnen </span>
    </h2>
    <p class="paragraph-regular">
      Die Kinderwoche im Uerkental wird seit Langem von der Vorstatt Chile EMK
      Bottenwil verantwortet. Seit einigen Jahren ist es ein gemeinsames Angebot
      der Vorstatt Chele und der Ref. Kirchgemeinde Uerkheim: Während den
      Frühlingsferien gibt es eine Woche lang Nachmittage mit Spiel und Spass
      für die Kinder des Uerkentals. Die Nachmittage werden thematisch auf eine
      Geschichte aus der Bibel abgestimmt, die die Kinder während den vier Tagen
      begleitet. Am Abend des letzten Tages der Kinderwoche sind die Eltern und
      Familien der Kinder zu einem gemeinsamen Abschlussfest eingeladen.
    </p>
  </div>
  <app-gallery></app-gallery>
  <div class="btn">
    <a href="#contact-page" class="btn-text paragraph-regular"
      >Sei mit dabei, werde ein Teil davon! &rarr;
    </a>
  </div>
</div>
