@import "../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
app-aboutus {
  padding: 3rem 1rem;
  height: auto;
  width: 100%;
}

.contact-container {
  background-color: $blue;
  display: flex;
  flex-direction: column;
}
